[2013-03-18 09:54] allsey87 opened #1 "Exception thrown from Foot-bot light sensor"
When a foot-bot has a light sensor enabled in the XML; the simulator will crash and throw an exception if there are no lights declared in the arena.

[2013-03-18 11:48] allsey87 opened #2 "Incorrect rototranslation order in OpenGL model for box."
The draw method for the OpenGL box:
`void CQTOpenGLBox::Draw(const CBoxEntity& c_entity)`

Contains a line of code: `glTranslatef(0.0f, 0.0f, c_entity.GetSize().GetZ() * 0.5f);`

This is incorrect as the previous call to the method: `CQTOpenGLWidget::DrawPositionalEntity(CPositionalEntity& c_entity)`

Has already performed translation then rotation. The result of this call here causes translation,

[2013-03-18 12:11] #1 closed, assigned to ilpincy

[2013-03-18 16:55] #2 closed, assigned to ilpincy

[2013-04-02 13:57] itichi opened #3 "Compiling on Archlinux - Lua Issue"
Make fails on Archlinux with Lua 5.2 and Lua 5.1

Lua :

[code]

Cmake :

[code]

Make :

[code]

liblua :

[code]

[2013-04-02 14:18] #3 closed, assigned to ilpincy

[2013-04-11 15:06] allsey87 opened #4 "No error message when controller isn't assigned"
Hi,

If a Lua controller is defined in the XML under controllers and isn't instantiated anywhere in an entity under the arena, the simulator exits without any error messages. This isn't user friendly and we need an error message here.

Cheers,

[2013-04-18 08:29] allsey87 opened #5 "Selecting a non controllable object causes segmentation fault when updating the Lua Variable Tree"
As the title suggests, when an uncontrollable object is selected, there is a segfault that occurs when the QtLuaEditorWindow tries to get the 'variables' from the non controllable object.

Here is a backtrace from GDB:

[code]

[2013-05-02 08:20] allsey87 opened #6 "Experiment length parameter has no effect when running experiment using the Qt Visualisation"
Setting the experiment length attribute in the XML file has no effect when using the Qt visualisation. After this time point is reached, the experiment keeps running.

[code]

[2013-05-02 09:32] #6 closed, assigned to nobody

[2014-01-13 16:30] allsey87 opened #7 "LEDs on boxes are not removed from medium"
LEDs on boxes are inserted into the specified medium, in box_entity.h during Init(). CBoxEntity doesn't provide a destroy method and doesn't remove the associated LEDs in the CLEDEquippedEntity class from the medium when it is destroyed.

[2014-05-08 11:24] #7 closed, assigned to ilpincy

[2014-09-16 19:49] allsey87 opened #8 "CRay2 Bug?"
https://github.com/ilpincy/argos3/blob/master/src/core/utility/math/ray2.h#L144

Should this be fT2, not fT1? If not, why are you calculating local variable fT2...

[2014-09-17 09:31] #8 closed, assigned to nobody

[2015-08-01 04:35] dbl001 opened #12 "no member named 'SaveAsImage' in 'argos::CFloorEntity'"
Hi,

I'm running on OS X 10.10.4.

I got this error building ARGoS:

/Users/davidlaxer/argos3/src/plugins/simulator/visualizations/qt-opengl/qtopengl_widget.cpp:726:39: error:
      no member named 'SaveAsImage' in 'argos::CFloorEntity'
            m_cSpace.GetFloorEntity().SaveAsImage("/tmp/argos_floor.png");
[code]

[2015-08-01 05:30] ilpincy commented on #12
Hi David,

There is indeed a little compilation issue in ARGoS when FreeImage is not
found.

Whenever you install a new library and want CMake to retry and find it, you
need to delete the CMakeCache.txt file. If the library is installed in a
non-standard place, it is enough to use tools such as  cmake-gui or ccmake
to set the value of the relevant variables manually. Just refer to the
manual of th

[2015-08-01 05:30] #12 closed

[2015-08-01 10:02] dbl001 commented on #12
Progress!

CMake Error at cmake_install.cmake:43 (file):
  file INSTALL cannot find
  "/Users/davidlaxer/argos3/build_simulator/argos3.1.gz".

David-Laxers-MacBook-Pro:build_simulator davidlaxer$ sudo make install
[ 21%] Built target argos3core_simulator
[ 21%] Built target argos3
[ 22%] Built target argos3plugin_simulator_media
[ 29%] Built target argos3plugin_simulator_entities
[ 44%] Built targ

[2015-08-01 15:34] ilpincy commented on #12
You need to create the documentation before trying to install. In practice,
before you can type 'make install', you need to type 'make doc'. Check
here:
https://github.com/ilpincy/argos3#installing-argos-from-the-compiled-binaries

Also, since you're compiling ARGoS manually, make sure you pick the release
compilation configuration. To do this, you need to type:

$ cmake -DCMAKE_BUILD_TYPE=Release

[2015-08-01 16:28] dbl001 commented on #12
Ok. Progress …but,

--   package 'argos3_simulator' not found

1. I rebuild ARGoS:
$ cmake -DCMAKE_BUILD_TYPE=Release ../src
$ make
$ make doc
$ sudo make install

No errors!

2. argos3-examples
 I removed the argos3-examples build directory, then

$ cmake -DCMAKE_BUILD_TYPE=Release ..
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ rm -rf build
David-Laxers-MacBook-Pro:argos3-examples davidl

[2015-08-01 18:05] ilpincy commented on #12
This is due to MacPorts. It installs stuff in /opt, and apparently it
messes up the search path of pkg-config.

Where did you install ARGoS? If you left the default location, it should be
/usr/local. Let's call it $PREFIX. You can suggest additional search paths
for pkg-config by doing the following:

$ export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:$PREFIX/lib/pkgconfig

Make sure that the file argos3_s

[2015-08-01 18:17] dbl001 commented on #12
/usr/local

$ find /usr/local -name argos3_simulator.pc -ls
122693128        8 -rw-r--r--    1 root             staff                 319 Jul 31 19:47 /usr/local/lib/pkgconfig/argos3_simulator.pc

(Sorry for the long output!)

David-Laxers-MacBook-Pro:build_simulator davidlaxer$ sudo make install
Password:
[ 21%] Built target argos3core_simulator
[ 21%] Built target argos3
[ 22%] Built target argo

[2015-08-01 18:20] ilpincy commented on #12
OK, then you just need to type these two commands:

$ export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/usr/local/lib/pkgconfig
$ cmake -DCMAKE_BUILD_TYPE=Release ..

And it should work. Also, consider switching to HomeBrew. Life is usually easier than with MacPorts due to the fact that HomeBrew installs stuff in standard paths (/usr/local) rather than non-standard ones (/opt).

[2015-08-01 18:29] dbl001 commented on #12
I have considered switching.  However, I recently read that the HomeBrew coverage is still a small subset Macports.

http://stackoverflow.com/questions/21374366/what-is-the-difference-usage-of-homebrew-macports-or-other-package-installation <http://stackoverflow.com/questions/21374366/what-is-the-difference-usage-of-homebrew-macports-or-other-package-installation>

Macports has many more packages

[2015-08-01 18:34] dbl001 commented on #12
More progress … but,

$ argos3 -c experiments/diffusion_1.argos
[INFO] Loaded library "/usr/local/lib/argos3/libargos3core_simulator.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_dynamics2d.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_entities.dylib"
[FATAL] Can't load library "/usr/local/lib/argos3/libargos3plugin_simulator_epuck.dy

[2015-08-01 18:36] ilpincy commented on #12
That's a weird one. I have never seen such a problem, and I have hundreds
of Mac users. Is that all the output you get?

On Sat, Aug 1, 2015 at 2:34 PM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-08-01 18:47] dbl001 commented on #12
Yes.  Here’s another example:

David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ argos3 -c experiments/diffusion_10.argos
[INFO] Loaded library "/usr/local/lib/argos3/libargos3core_simulator.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_dynamics2d.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_entities.dylib"
[FATAL] Can't load libr

[2015-08-01 18:52] ilpincy commented on #12
It's a linking error - not a problem of ARGoS. It is almost surely related
to the non-standard paths of MacPorts.

Try to inspect the output of this command. If it shows a library not found,
you have the cause of the problem.

$ ls -1 /usr/local/lib/argos3/*.dylib | xargs -n 1 otool -L

On Sat, Aug 1, 2015 at 2:47 PM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo

[2015-08-01 18:55] dbl001 commented on #12
ls -1 /usr/local/lib/argos3/*.dylib | xargs -n 1 otool -L
/usr/local/lib/argos3/libargos3core_simulator.dylib:
	@rpath/libargos3core_simulator.dylib (compatibility version 0.0.0, current version 0.0.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1213.0.0)
	/opt/local/lib/libgsl.0.dylib (compatibility version 18.0.0, current version 18.0.0)
	/opt/local/lib/libgslcblas.

[2015-08-01 19:05] ilpincy commented on #12
I'm adding a little more output to ARGoS to make the error message more
informative. Hold on.

On Sat, Aug 1, 2015 at 2:55 PM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-08-01 19:09] dbl001 commented on #12
THANK YOU!!

[2015-08-01 19:14] ilpincy commented on #12
OK, I have pushed the new version. Do the following:

$ cd /path/to/argos3/build
$ git pull
$ make
$ sudo make install

Then try again:

$ cd /path/to/argos3-examples
$ argos3 -c experiments/diffusion_1.argos

This should print more informative messages on why the linking failed.

On Sat, Aug 1, 2015 at 3:09 PM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinci

[2015-08-01 19:24] dbl001 commented on #12
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ argos3 -c experiments/diffusion_1.argos
[INFO] Loaded library "/usr/local/lib/argos3/libargos3core_simulator.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_dynamics2d.dylib"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_entities.dylib"
[FATAL] Can't load library "/usr/local/lib/argos3/libar

[2015-08-01 19:26] dbl001 commented on #12
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ ls -l /usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib
-rwxr-xr-x  1 root  wheel  501964 Aug  1 12:23 /usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ file !$
file /usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib
/usr/local/lib/argos3/libargos3plugin_simulator_

[2015-08-01 19:32] ilpincy commented on #12
So, the error seems to be:

/usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib:
dlopen(/usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib, 1):
Library not loaded: @rpath/./libQtOpenGL.4.dylib
Referenced from: /usr/local/lib/argos3/libargos3plugin_simulator_epuck.dylib
Reason: image not found

In other words, it can't find libQtOpenGL.4.dylib. Where is this installed?
You obviousl

[2015-08-01 19:44] dbl001 commented on #12
Hmmm … It’s in Anaconda … but things are getting weirder (down the ‘rabbit hole’):

David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ sudo find /usr/local -name libQtOpenGL.4.dylib -ls
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ sudo find /opt/local -name libQtOpenGL.4.dylib -ls
David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ find ~ -name libQtOpenGL.4.dylib -ls
115484669        8

[2015-08-01 19:52] ilpincy commented on #12
Try this command:

$ ls -1 /usr/local/lib/argos3/*.dylib | xargs -n 1 otool -L | grep -i qt

It tells where Qt is expected to be found after the compilation process.
Try to set the environment variable DYLD_LIBRARY_PATH to the directory
mentioned in that output.

On Sat, Aug 1, 2015 at 3:44 PM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-08-01 20:07] dbl001 commented on #12
What does it mean that  libQtOpenGL.4.dylib was only found in Anaconda?  Then the Anaconda library had linkages to other packages which couldn’t be resolved.
How is this dependency checked?  In ‘cmake’?
Do I need to build QTOpenGL manually and install it?

David-Laxers-MacBook-Pro:argos3-examples davidlaxer$ find ~ -name libQtOpenGL.4.dylib -ls
115484669        8 lrwxr-xr-x    1 davidlaxer       s

[2015-08-01 20:13] ilpincy commented on #12
The problem is indeed how Qt is installed. How did you install it? I
would definitely avoid installing it by hand. MacPorts has a native
way to do it.

ARGoS checks dependencies in CMake. The file CMakeCache.txt in the
build/ directory tells you where QT was found. You can open it, it's a
text file.

On Sat, Aug 1, 2015 at 4:07 PM, dbl001 <notifications@github.com> wrote:

[2015-08-01 22:12] dbl001 commented on #12
There is some QT4 dependency with Anaconda that I don’t understand (and probably just made worse) ...

David-Laxers-MacBook-Pro:build_simulator davidlaxer$ sudo port install qt4-mac

--->  Computing dependencies for qt4-mac
--->  Fetching archive for qt4-mac
--->  Attempting to fetch qt4-mac-4.8.7_0.darwin_14.x86_64.tbz2 from http://packages.macports.org/qt4-mac
--->  Attempting to fetch qt4-mac-4

[2015-08-01 22:57] ilpincy commented on #12
I would stay away from Anaconda. It's a different system that ships
its own dependencies.
Just install QT4 through Macports and recompile ARGoS.

On Sat, Aug 1, 2015 at 6:12 PM, dbl001 <notifications@github.com> wrote:

[2015-08-01 23:47] dbl001 commented on #12
I tried that … which led to these errors:

David-Laxers-MacBook-Pro:build_simulator davidlaxer$ sudo port install qt4-mac
Password:
--->  Computing dependencies for qt4-mac
--->  Cleaning qt4-mac
--->  Scanning binaries for linking errors

David-Laxers-MacBook-Pro:argos3 davidlaxer$ rm -rf build_simulator/
David-Laxers-MacBook-Pro:argos3 davidlaxer$ mkdir build_simulator
David-Laxers-MacBook-Pro:a

[2015-08-02 00:06] ilpincy commented on #12
It looks like Anaconda is interfering with compilation. Can you
temporarily uninstall it?

On Sat, Aug 1, 2015 at 7:47 PM, dbl001 <notifications@github.com> wrote:

[2015-08-02 00:18] dbl001 commented on #12
Now Anaconda is broken:
E.g. - ipython qtconsole

I sent off a question to Anaconda support @Continuum.
Stay tuned.

David-Laxers-MacBook-Pro:build_simulator davidlaxer$ sudo port upgrade outdated
Nothing to upgrade.
David-Laxers-MacBook-Pro:build_simulator davidlaxer$ conda update conda
Fetching package metadata: ....
Solving package specifications: .
Package plan for installation in environment

[2015-08-04 05:14] dbl001 opened #13 "Could NOT find Lua52 (missing: LUA_LIBRARIES LUA_INCLUDE_DIR"
Hi,

I'm running on Ubuntu 14.04.2 on an EC2 instance.

ubuntu@ip-10-0-1-107:~/argos3/build$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty
ubuntu@ip-10-0-1-107:~/argos3/build$

ubuntu@ip-10-0-1-107:~/argos3/build$ lua -v
Lua 5.2.3  Copyright (C) 1994-2013 Lua.org, PUC-Rio
ubuntu@ip-10-0-1-107:~/argos3/build$ whic

[2015-08-04 05:49] ilpincy commented on #13
Delete lua5.1. It conflicts with Lua5.2.

On Tue, Aug 4, 2015 at 1:14 AM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-08-04 05:50] #13 closed

[2015-08-04 05:50] ilpincy commented on #13
Also: if you're running Ubuntu, it is highly recommended to install ARGoS
through the package at http://argos-sim.info/core.php.

On Tue, Aug 4, 2015 at 1:48 AM, Carlo Pinciroli <ilpincy@gmail.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-08-04 05:50] #4 closed

[2015-08-04 05:50] #5 closed

[2015-08-04 10:23] dbl001 commented on #13
Same problem:

-- Could NOT find Lua52 (missing:  LUA_LIBRARIES LUA_INCLUDE_DIR)

ubuntu@ip-10-0-1-107:~/argos3/build$ sudo apt-get remove lua5.1
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  linux-headers-3.13.0-49 linux-headers-3.13.0-49-generic
  linux-image-3.13.0-49-gen

[2015-08-04 11:07] dbl001 commented on #13
Update:

I had to install lua5.2-dev.

[2015-08-04 12:33] ilpincy commented on #13
Why don't you use the precompiled package?
On Aug 4, 2015 6:23 AM, "dbl001" <notifications@github.com> wrote:

[2015-08-04 13:54] dbl001 commented on #13
I did and had the same problem with lua52.
After installing lua52-dev with apt-get, but the pre-compiled package as well as the source worked.

[2015-08-04 14:23] dbl001 commented on #13
btw - ARGoS runs with the Anaconda stack on Ubuntu 14.04.

-- Found Qt4: /home/ubuntu/anaconda/bin/qmake (found version "4.8.6")

[2015-08-04 15:08] dbl001 commented on #13
I’m currently running Ubuntu 14.04.2 LTS on an EC2 M3.Large server.
Can ARGoS and/or Buzz utilize a relatively older Kepler GPU?

[2015-08-04 15:09] ilpincy commented on #13
Consider that Lua is optional for ARGoS, so that should not prevent you
from using it.
I'm puzzled by all these problems you're encountering. I have installed
ARGoS on hundreds of computers without issues. Probably if I had access to
the computer I'd be able to spot the issue. With the information you're
providing me, I don't know how to reproduce the problem. My virtual
machines work perfectly.

[2015-08-04 15:10] ilpincy commented on #13
Yes, I run it on old computers and it works reasonably.

On Tue, Aug 4, 2015 at 11:08 AM, dbl001 <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2015-11-29 17:16] pawel-jakubowski opened #14 "Black area and no GUI icons"
Hi,

I compiled simulator under Ubuntu 15.10 64-bit and I get black floor in simulation. What is more there is no icons for controls. Is there any way to fix it (maybe I forgot to set some variable during compilation?).

It looks like this:
![argos_problem](https://cloud.githubusercontent.com/assets/9104400/11458682/48dba25a-96c5-11e5-98d5-14ad775bdc3f.png)

[2015-11-29 17:24] ilpincy commented on #14
You probably have the wrong paths in $HOME/.config/Iridia-ULB/ARGoS.conf (see also https://github.com/ilpincy/argos3#running-the-argos-simulator). Either fix the paths (/usr/local instead of /usr, I imagine), or simply erase the file and ARGoS will create a new one automatically.

[2015-11-29 19:22] pawel-jakubowski commented on #14
That was it, thanks!

[2015-11-29 19:22] #14 closed

[2016-01-05 12:48] pawel-jakubowski opened #15 "Symbol "qtopengl_render" not found"
Help of argos3 says that I should use:
[code]

However when I try this I obtain:
[code]

When I change qtopengl_render to qt-opengl everything works fine. Probably it is only help page problem.

[2016-01-05 14:00] allsey87 commented on #15
As you suggested, it is just an issue on the help page. The correct symbol is "qt-opengl" as per: src/plugins/simulator/visualizations/qt-opengl/qtopengl_render.cpp#L116

[2016-01-05 14:05] #15 closed

[2016-01-05 14:06] ilpincy commented on #15
Thanks for spotting the problem! :-)

[2016-01-22 12:58] alanmillard opened #16 "QT OpenGL user functions for DrawTriangle, DrawPolygon, and DrawCircle do not respond to b_fill = false"
Source file: argos3/src/plugins/simulator/visualizations/qt-opengl/qtopengl_user_functions.cpp

GL_LINE should be used instead of GL_LINES in the following code:

glPolygonMode(GL_FRONT_AND_BACK, b_fill ? GL_FILL : GL_LINES);

[2016-02-03 16:10] ilpincy commented on #16
Thanks Alan! :-)

[2016-02-03 16:10] #16 closed

[2016-03-02 12:03] EMerckx opened #17 "Segmentation fault after "./argos3 -q all""
Hello ilpincy,

I have noticed an issue while executing the following commands.

    $ cd argos3
    $ cd build_simulator
    $ . setup_env.sh     # or 'source setup_env.sh'
    $ cd core
    $ ./argos3 -q all    # this shows all the plugins recognized by ARGoS

When executing the last command, all the actuators, sensors, entities, ... are shown. But after that, there is a segmentation fault and t

[2016-03-02 13:39] ilpincy commented on #17
Hi Ewout,

Do you have ARGoS installed system wide? If so, you can't execute ARGoS
from the sources.

If not, why are you executing ARGoS from the sources? Why not installing it
system wide?

Final question: on which operating system are you working?

Cheers,
Carlo
On Mar 2, 2016 07:03, "Ewout Merckx" <notifications@github.com> wrote:

[2016-03-02 14:06] EMerckx commented on #17
Hello Carlo,

I had installed ARGoS system wide, but I've removed it. I managed to run experiments with ARGoS from the sources, with the only exception that the core gets dumped after execution.

For my Master's thesis, I need to implement some new entities. In order to do that, I need to use ARGoS from the sources.

I'm currently working on Elementary OS (which is based on Ubuntu 14.04 LTS).

Tha

[2016-03-02 18:03] ilpincy commented on #17
On Wed, Mar 2, 2016 at 9:06 AM, Ewout Merckx <notifications@github.com>
wrote:

Are you sure? What's the output of the ARGoS log when you launch it?

Not necessarily, see the development manual that I am writing:
http://www.argos-sim.info/dev_manual.php.
--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2016-03-02 20:33] EMerckx commented on #17
I got the following output:

    [INFO] Loaded library "/usr/local/lib/argos3/libargos3core_simulator.so"
    [INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_entities.so"
    [INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_epuck.so"
    ...

Apparently, the lib files in the usr directory were still present. I removed them from my system and now I don't

[2016-03-02 20:33] #17 closed

[2016-03-02 21:17] ilpincy commented on #17
Awesome! :-)
On Mar 2, 2016 15:33, "Ewout Merckx" <notifications@github.com> wrote:

[2016-05-17 14:29] EMerckx opened #22 "Eye-bot proximity sensor and box bug"
Dear @ilpincy,

I have noticed a bug while simulating an experiment with an eye-bot. In this experiment, I have placed an eye-bot (containing a proximity sensor) in front of a box entity.

![frame_00002](https://cloud.githubusercontent.com/assets/5154631/15324996/1171d32a-1c49-11e6-97fb-c32379470b75.png)

As you can see in the picture, some rays of the proximity sensor that aren't intersecting wit

[2016-05-17 14:41] ilpincy commented on #22
Hi Ewout,

Thanks for spotting this bug! Yes, it looks like the check is missing. Are
you able to come up with a patch that fixes this issue? If so, thanks! :-)
Otherwise I'll work on it during the week.

Cheers,
Carlo

On Tue, May 17, 2016 at 10:29 AM, Ewout Merckx <notifications@github.com>
wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2016-05-17 16:19] EMerckx commented on #22
I've had a quick look and the following line seems to have done the trick. It tells us that there is no intersection when the distance is negative (if I understand the code correctly).

[code]

This can be inserted into [this line](https://github.com/ilpincy/argos3/blob/master/src/core/utility/math/box.cpp#L41). If it seems like a good solution to you, I'll generate a pull request for it.

[2016-05-17 16:21] ilpincy commented on #22
I'm not sure without testing :-) Please try it, and if it works make a pull
request. Thank you very much! :-)

On Tue, May 17, 2016 at 12:19 PM, Ewout Merckx <notifications@github.com>
wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2016-05-17 21:29] EMerckx commented on #22
The fix that I've mentioned above worked only when the eye-bot was in front of the box. I've implemented and tested another approach, which seems to work in all cases. You can view the code below.

[code]

However, I've noticed that there are still some other bugs in the intersection method of the box. It would be great if you could take a look at it, since I don't fully understand the code. In th

[2016-05-25 14:48] rubenvereecken opened #25 "Camera angled at 90 degrees"
Strangely, a custom-defined camera is angled at 90 degrees using the following specific setting:

`        <placement idx="1" position="0,-5, 1" look_at="0,0,0" lens_focal_length="20" />`

as can be seen on this image:

![](https://sc-cdn.scaleengine.net/i/2326818a1e31323ea3ab2b46bf3aee91.png)

I can fix it by having a non-zero `x` position, like so:

`        <placement idx="1" position="0.00001,

[2016-05-25 15:21] ilpincy commented on #25
Thanks for the bug report! At the end of the week I'll work on this. I'll
add the possibility to specify the Up vector of the camera manually, for
situations in which the automatic calculation is ambiguous (like this one).

Cheers,
Carlo

On Wed, May 25, 2016 at 10:49 AM, Ruben Vereecken <notifications@github.com>
wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2016-05-25 16:17] rubenvereecken commented on #25
Great! Thanks for taking a look so swiftly.

[2016-05-27 18:18] #25 closed

[2016-10-04 19:54] EMerckx opened #27 "Moving unmovable object and reset"
Hello, recently I came upon the following issue.
When an unmovable object is moved by using the SHIFT CLICK and CTRL CLICK shortcuts, the object gets re-positioned.
When the user then invokes the reset button, the object is moved back to its original position. However, when you select it by using SHIFT CLICK, you see that the bounding box is still at the position of movement.

The problem can be v

[2016-10-18 13:29] ilpincy opened #28 "ARGoS logger Flush() method does not flush"
When calling `LOG.Flush()` and `LOGERR.Flush()`, the text is not flushed. This is due to a missing call to `ostream::flush()` in this method.

[2016-12-24 12:07] allsey87 opened #29 "RGBA Colors don't parse from XML"
Using RGBA values for specifying colors in the XML fails due to a bug on lines 166 and 167 of color.h. Since ParseValues<UInt8> falls back on operator>>, and UInt8 is actually a char, the result of parsing a red channel value of "128", would be 0x31 or 49 as only the first character '1' would be parsed.

Swapping UInt8 for UInt32 solves the issue. If the value is two large I believe the C++ standa

[2016-12-27 00:13] #29 closed

[2016-12-27 09:51] allsey87 opened #30 "SelectionInfo.Index out of bounds when entities are added/removed"
On line 207 of qtopengl_widget.cpp, there is an assumption that vecEntities has not changed and that SelectionInfo.Index is always valid over the collection. This does not always hold, and SelectionInfo.Index can be out of range if, for instance, entities are removed from CSpace::m_vecRootEntities during a CLoopFunctions::Reset

One quick fix could be to check if the size of the vector has changed

[2017-01-19 19:08] alanmillard opened #31 "pointmass3d physics engine causes foot-bot's proximity sensors to detect non-existent obstacles"
This is a bit of a contrived issue, but was raised by a student who was trying to use foot-bots and eye-bots simultaneously, so it may cause problems for other people.

Adding the `pointmass3d` physics engine to `diffusion_1.argos`, as is done in `eyebot_circle.argos`, allows the bug to be reproduced:

[code]

Simply adding the `pointmass3d` physics engine to the ARGoS configuration file causes th

[2017-01-20 10:04] allsey87 commented on #31
I can't solve this issue right now, but I can point to where the problem is and suggest some quick workarounds until Carlo has time to look at this.

Non-movable objects, such as the boxes you are using for walls are added to all physics engines. Furthermore, the proximity sensor will query all physics engines for an intersection with the proximity sensors ray. The issue is most likely in the math

[2017-01-20 16:00] ilpincy commented on #31
@allsey87 is most likely right, because this bug is probably related to issue #22.

[2017-02-01 13:00] James-SW opened #32 "robots able to comunicate through obstacles via RAB"
Footbots are able to occasionally communicate through obstacles using the RAB sensor and actuator.

Adding CCI_RangeAndBearingActuator and CCI_RangeAndBearingSensor to footbot_diffusion.cpp and setting 'show_rays="true"' in diffusion_10.argos will reproduce the bug as shown below.

![screenshot from 2017-02-01 12-48-02](https://cloud.githubusercontent.com/assets/22681030/22507519/daf5a892-e87d-11e

[2017-02-15 18:37] bhylak opened #33 "Symbol "qt-opengl" Not Found -- macOS 10.12.1"
Just trying to get started with running examples in argos. After installation and compilation, I get the following:

argos3 -c experiments/diffusion_1.argos

[INFO] Loaded library "/usr/local/Cellar/argos3/3.0.0-beta43/lib/argos3/libargos3core_simulator.dylib"
[INFO] Loaded library "/usr/local/Cellar/argos3/3.0.0-beta43/lib/argos3/libargos3plugin_simulator_dynamics2d.dylib"
[INFO] Loaded library "

[2017-02-15 18:41] ilpincy commented on #33
It's a known issue, I'm working on it. It's because ARGoS requires Qt4, but
HomeBrew ditched it for Qt5. I need to finish porting the ARGoS
visualization to Qt5. I hope to be done soon with that.

On Wed, Feb 15, 2017 at 1:37 PM, Ben Hylak <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2017-02-15 19:21] bhylak commented on #33
Tried installing qt4 via macports to no avail. Any other workaround in the mean time?

[2017-02-15 19:51] ilpincy commented on #33
Look here:

https://github.com/cartr/homebrew-qt4

On Wed, Feb 15, 2017 at 2:21 PM, Ben Hylak <notifications@github.com> wrote:

--
Carlo Pinciroli, Ph.D.
http://carlo.pinciroli.net/

[2017-02-19 07:31] jdelgadome commented on #33
I have the same issue

[2017-02-25 21:05] ilpincy commented on #33
Beta44 solves this issue!

[2017-02-25 21:05] #33 closed

[2017-02-25 21:06] ilpincy commented on #32
Thanks for spotting this! I'll look into it next (porting to Qt 5 took more time than anticipated)

[2017-02-26 19:17] #32 closed

[2017-04-05 21:09] Shentheman opened #34 "Install argos3 on Ubuntu 14.04"
Hi!
When I am trying to install argos3 on Ubuntu 14.04, I cannot install this dependency:
`Unable to locate package libfreeimageplus-dev`
It seems that this package is only available on Ubuntu 16.04 [http://packages.ubuntu.com/xenial/libfreeimageplus-dev](url).

Is there a replacement for libfreeimageplus-dev on Ubuntu 14.04?

Thank you so much!

[2017-04-05 21:28] ilpincy commented on #34
Ubuntu 14.04 and 16.04 are different, and I had to make a choice on whether
to support one or the other. The main differences are:

1. the version of Qt5 available on Ubuntu 14.04 is too old  - you need to
install a recent version manually, or backport the package of Ubuntu 16.04.

2. The package libfreeimageplus-dev does not exist, and you need to install
 libfreeimage-dev instead.

This is not e

[2017-04-06 03:44] #34 closed

[2017-04-09 01:41] ilpincy commented on #31
Finally fixed in commit e81c7536db58e166102d903f62f298b6ef789d91

[2017-04-09 01:41] #31 closed

[2017-04-09 01:42] ilpincy commented on #22
Fixed in commit e81c7536db58e166102d903f62f298b6ef789d91

[2017-04-09 01:42] #22 closed

[2017-05-30 15:31] Gusz92 opened #37 "Draw Position Error After Drawing Circles"
Hello,

The function of  `CQTOpenGLUserFunctions::DrawCircle( ) `did not do the job `glPushMatrix();` and  `glPopMatrix();` So things drawed after the first call of this function will be distracted. I tried add them to this function, seems solve this problem.

Cheers,
Guangsha Xu

[2017-05-30 23:55] ilpincy commented on #37
Hello Gusz92, Can you make a pull request with the change you made? Thanks! :-)

[2017-05-31 09:56] #37 closed

[2017-05-31 10:19] cardinot commented on #37
just for reference... fixed here:
https://github.com/ilpincy/argos3/commit/9c208c4d6986c05aba1b9041921afd7e99d39b2c

[2017-06-23 10:09] allsey87 opened #40 "Segfault from inside i965_dri.so when selecting box"
Hi,

Referring to [gdbbacktrace.txt](https://github.com/ilpincy/argos3/files/1097053/gdbbacktrace.txt), it seems when I select a box in ARGoS I get a segfault from somewhere inside i965_dri.so (my intel graphics driver).

It is a bit strange as one of the last calls before the trace disappears inside graphics driver is to CQTOpenGLOperationDrawBoxNormal, which should always run on each frame. I wo

[2017-06-23 11:12] ilpincy commented on #40
This is a known issue. Currently I have no idea why it happens, and why only on this specific graphics card. I suspect that this is due to a funny interaction in systems that have dual cards, and that disabling one in the BIOS might help, but I haven't had the time to verify my suspicion.

[2017-06-23 11:18] allsey87 commented on #40
Did this issue rear its head prior to switching to Qt5? I have no such problem on an older version [(forked end of 2013)](https://github.com/allsey87/argos3-outdated/commits/RoboticsArmDev) of ARGoS 3 with Qt4.

[2017-06-23 11:21] beltrame commented on #40
I've always had this issue, and I started using ARGoS in 2015. I only have an i915 (no dual card).

[2017-06-23 11:22] allsey87 commented on #40
Also, as far as I'm aware, I don't have a secondary graphics card. If you suggest a couple of commits of interest where this issue may have come from, I will build and test them to confirm whether or not the issue is present.

[2017-06-23 11:26] ilpincy commented on #40
The switch to Qt5 did not change the ARGoS code in any particular way. Most of that was just refactoring to adapt to the new OpenGL class. If your system does not have a double card, then I don't really know where to look. I agree that it must be something with Qt5 though... The problem is that I don't have a card I can test on - I'll ask a student if I can borrow his laptop for a few hours. For t

[2017-06-23 11:28] allsey87 commented on #40
I was thinking along the lines that perhaps this has to do with a new version of [QOpenGLWidget](http://doc.qt.io/qt-5/qopenglwidget.html)...

[2017-06-23 11:35] allsey87 commented on #40
@beltrame so you have had this issue before @ilpincy moved to Qt5 at the beginning of 2017?

[2017-06-23 11:39] ilpincy commented on #40
Is it possible to install a debug version of the driver, so we see where it explodes? Maybe that would shed some light.

[2017-06-23 11:47] allsey87 commented on #40
Never tried anything like that before, and since I don't have a back up computer at the moment I'm not particularly keen. I just hacked qtopengl_box.cpp by adding `c_visualization.DrawBoundingBox(c_entity.GetEmbodiedEntity());` after `c_visualization.DrawEntity(c_entity.GetEmbodiedEntity());` to draw the bounding box without selecting it... works fine? although, as soon as I select, out comes the

[2017-06-23 11:52] ilpincy commented on #40
It might be my way of managing selection - maybe getting in and out of selection mode I confuse the driver. However, the code is pretty straightforward and I followed an existing example almost verbatim...

[2017-06-23 11:54] ilpincy commented on #40
Can you try playing with the code here: https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/visualizations/qt-opengl/qtopengl_widget.cpp#L364 ?

[2017-06-23 11:57] allsey87 commented on #40
I'll have a look, just rebuilding with debugging symbols on... What is really interesting is I completely disabled both calls to the `CQTOpenGLOperationDrawX` entity operations. Same issue when I select, which suggests that the segfault occurring at that point was a coincidence and the fault actually came from a different thread? (I'm a bit (read completely) inexperienced with debugging multi-thre

[2017-06-23 11:57] ilpincy commented on #40
If you look at the backtrace, the segfault happens when ARGoS draws a robot with the normal model while in the method SelectInScene(). So the issue is really rendering in SELECT mode... is it possible that the driver does not support drawing something in that mode?

[2017-06-23 14:23] beltrame commented on #40
@allsey87 Yes, I had the problem before Qt5, and on two different
computers/distributions (Linux Mint and OpenSuSE, two flavours of Intel
Graphics).

[2017-06-24 03:10] allsey87 commented on #40
Ok, so by removing the calls to `makeCurrent` and `doneCurrent` in the `SelectInScene` method I am able to select and move around objects without segfaults. However, it is quite difficult to select things. It seems as if either (i) only some faces of the box in my example are selectable or (ii) there is a disagreement between between what is drawn in the select buffer and what is drawn on screen.

[2017-06-24 03:24] allsey87 commented on #40
For the sake of keeping a record of the testing, as @ilpincy suggested, this segfault occurs while drawing in select mode with the calls to `makeCurrent` and `doneCurrent` enabled. However, it isn't the drawing of a specific primitive, both `GL_QUADS` and `GL_POINTS` will fail at some point towards the end of a drawing function. The exact point at where the segfault occurs is difficult to locate,

[2017-06-24 12:41] ilpincy commented on #40
Great! The problem is that removing `makeCurrent()` and `doneCurrent()` does not work on Mac (the window becomes corrupted). I can solve it with conditional compilation, but I'd like to understand the issue better before proceeding.

[2017-07-07 12:09] prpandey26 commented on #33
I am also facing the same issue :
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_spiri.so"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_footbot.so"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_epuck.so"
[INFO] Loaded library "/usr/local/lib/argos3/libargos3plugin_simulator_eyebot.so"
[INFO] Loaded library "/usr/local/lib/a

[2017-07-07 12:46] cardinot commented on #33
Hi @prpandey26,

AFAIK, by default, Ubuntu 14.04 supports Qt 5,2.

So, I guess that you probably have some old qt5.2 stuff installed, which is not allowing ARGOS to find qt5.7.

Have you tried to redefine your QTDIR variable and add your '/opt/Qt/5.7/gcc_64/bin' to the PATH variable?
[code]

[2017-07-07 13:11] ilpincy commented on #33
Hello @prpandey26, this issue is about Mac, not Ubuntu - you should have opened a new issue about this. The solution to your problem is to set the variable `CMAKE_PREFIX_PATH` to point to the right `cmake` directory in your system. Look into `/opt/Qt/5.7/gcc_64` and search for that directory. Say the directory is `/opt/Qt/5.7/gcc_64/lib/cmake` (I'm just guessing), the commands to compile ARGoS cor

[2017-07-11 06:29] prpandey26 commented on #33
Hi @cardinot  @ilpincy
Thank you for providing support on the issue.
After making the above mentioned changes, the **Minimum required version for Qt (>= 5.5) not found. Skipping compilation of QT-OpenGL visualization.** issue which was coming while running **cmake** got resolved but another error was coming while running **make -j8.**
So, now I am using a virtual machine with ubuntu 16.04 because

[2017-07-11 14:34] ilpincy commented on #33
If you're using ARGoS on Ubuntu 16.04, then you could have just used the binary packages at http://argos-sim.info/core.php, which are the suggested way to use ARGoS. Have you compiled the code with `cmake -DCMAKE_BUILD_TYPE=Release` ? If not, ARGoS will be (much) slower. If you have further issues, please open a new issue. Commenting here is definitely off-topic.

[2017-07-18 10:22] allsey87 commented on #40
Testing this on a new laptop with a both NVIDIA and Intel graphics. It seems that both graphics drivers are loaded (?), however, OpenGL is using the Intel graphics driver. This conclusion is based on the output of `glxinfo | grep -i vendor` which returns:
[code]
As such, this laptop is also using the i915 driver and segfaults upon attempting to select an object. Removing the `makeCurrent()` and `d

[2017-07-19 07:40] allsey87 commented on #40
@ilpincy I can also now install a debug driver on one of my laptops (the one that only has Intel graphics) and get more information.

[2017-07-20 09:18] allsey87 opened #41 "Unimplemented functions"
The following function prototypes are not implemented and never called.

https://github.com/ilpincy/argos3/blob/3.0.0-beta46/src/plugins/simulator/entities/led_equipped_entity.h#L56
https://github.com/ilpincy/argos3/blob/3.0.0-beta46/src/plugins/simulator/entities/led_equipped_entity.h#L57

[2017-07-20 14:05] ilpincy commented on #41
Their implementation is here:

https://github.com/ilpincy/argos3/blob/3.0.0-beta46/src/plugins/simulator/entities/led_equipped_entity.cpp#L108

and here:

https://github.com/ilpincy/argos3/blob/3.0.0-beta46/src/plugins/simulator/entities/led_equipped_entity.cpp#L118

[2017-07-20 14:09] ilpincy commented on #40
@allsey87 Thanks for offering your help with this issue. I think that adding debugging symbols would help shed some light. We could send a nice bug report to the driver developers once we understand what goes wrong.

I tried removing `makeCurrent() ... doneCurrent()` from the code, but it corrupts the graphics window on every computer I tried.

[2017-07-20 15:24] allsey87 commented on #41
Look again. Those methods are inside the SActuator struct and are not implemented.

[2017-07-20 15:27] allsey87 commented on #40
Out of interest, what do you observe when the graphics window is corrupted?

[2017-07-20 15:53] ilpincy commented on #41
Oh, I see - you're right! They're a remnant of my implementation of `CLEDEquippedEntity::Enable()` and `CLEDEquippedEntity::Disable()`. The unimplemented methods can be safely removed.

[2017-07-22 19:38] ilpincy commented on #40
Half of the screen is black or covered by a random pattern.

[2017-07-27 15:46] cjcormier commented on #40
@allsey87 I have this issue on my laptop as well, but when I select the robots from the Buzz Debuger.

I have an [test repository](https://github.com/cjcormier/Buzz-Tests) that you can use to replicate the process yourself.

[2017-08-08 13:48] Mbt925 opened #42 "Problem running an example"
I installed ARGoS successfully, but when i try to run one of the ARGoS examples, I get the following error:
[code]

[2017-08-08 14:05] ilpincy commented on #42
1. How did you install ARGoS (binary packages, sources)?
2. On which platform are you working?

[2017-08-08 14:06] Mbt925 commented on #42
Thanks for the reply.

1. binary packages
2. ubuntu 17.04

[2017-08-08 14:11] ilpincy commented on #42
I'll install Ubuntu 17.04 and check what changed from 16.04.

[2017-08-08 15:16] ilpincy commented on #42
OK, it seems to be an issue with the Ubuntu 16.04 package, which apparently can't be run on Ubuntu 17.04. If I compile ARGoS on Ubuntu 17.04, then everything works. I'll make packages later in the week - in the meantime, install ARGoS from the sources. Make sure to uninstall the binary package first.

[2017-08-08 16:02] Mbt925 commented on #42
Thank you for checking.

[2017-08-08 16:04] Mbt925 commented on #42
How can I uninstall the binary package?

[2017-08-08 16:59] ilpincy commented on #42
Type

    sudo dpkg -r argos3_simulator

[2017-08-09 11:45] Mbt925 opened #43 "Problem compiling from source code"
As you suggested, i tried to compile ARGoS from source code, but i am getting this:

[code]

[2017-08-09 11:54] allsey87 commented on #43
GooglePerfTools is not required. What happens when you run:
[code]

[2017-08-09 12:03] Mbt925 commented on #43
Thanks. it's finished successfully.
argos3 command can not be recognized by the system. How should I fix this?

[2017-08-09 12:17] allsey87 commented on #43
The instructions for running ARGoS from source are located here: https://github.com/ilpincy/argos3#running-the-argos-simulator

Please read this documentation carefully before continuing.

[2017-08-09 12:21] ilpincy commented on #43
You should run the following commands:

    $ mkdir build
    $ cd build
    $ cmake -DCMAKE_BUILD_TYPE=Release ../src
    $ make
    $ make doc
    $ sudo make install

[2017-08-09 12:21] #43 closed

[2017-08-09 12:46] Mbt925 commented on #43
Thank you very much. The one command i missed was:
`$ sudo make install`

I was able to run a an example, however i am getting this warning. Is it ok?
`[WARNING]` Error opening directory "/home/mohsen/Desktop/argos3/build_simulator/plugins/simulator/physics_engines/physx/": No such file or directory

[2017-08-09 12:49] ilpincy commented on #43
Just close and reopen the console. You probably tried to run ARGoS from the sources, and to do it executed the setup script.

[2017-08-09 12:51] ilpincy commented on #43
Also, make sure that the commands you wrote for compiling are exactly those that I gave you. For instance, it makes a huge difference in performance if you write

    $ cmake -DCMAKE_BUILD_TYPE=Release ../src

or if you write

    $ cmake ../src

The first one is much faster.

[2017-08-15 11:22] #42 closed

[2017-08-15 11:25] Mbt925 opened #44 "A Sample e-Puck Experiment"
ARGoS has a set of footbot experiments. Is there any sample for e-puck?

[2017-08-15 15:48] ilpincy commented on #44
Yes, just look in the experiments folder.

Please write in the forum for this kind of questions, the issue tracker is for issues with the code.

[2017-08-15 15:48] #44 closed

[2017-08-16 15:07] allsey87 opened #45 "Registering an arbitrary number of anchors methods"
Hi @ilpincy,

I'm currently cleaning up a featherstone-based multi-body physics model and prototype model for the Dynamics3d engine. Regarding the anchors, I would like to know what you think would be cleanest solution to the following:

I have an arbitrary number of links (not predictable at compile time), some of which have associated anchors. To update these anchors, I obviously shouldn't (can'

[2017-08-19 10:56] Mbt925 commented on #44
My bad. I want to reimplement the "footbot_foraging" sample to use e-puck instead of foot-bot.
Why there is no specific sensor implementation for e-puck? Should I use the generic sensors implementation?
I want to use the extended e-puck ground sensors too. Is it possible in ARGoS?

Thank you.

[2017-08-19 12:30] ilpincy commented on #45
This looks to me like a sensible approach. If the number of elements in the map is not large, you might find that using a custom bucket-based implementation is faster. I'd go down this road only in a second moment, and if really necessary.

I designed the callback to strictly be a method of the physics model. This makes it more memory efficient and easier to write. Using a functor would be more fl

[2017-08-20 08:55] allsey87 commented on #45
Ok, I will use the std::unordered_map approach for now. Thanks for the feedback!

[2017-08-20 08:55] #45 closed

[2017-08-21 17:44] Mbt925 opened #46 "E-Puck Sensors Implementation"
I want to reimplement the "footbot_foraging" sample to use e-puck instead of foot-bot.
Why there is no specific sensor implementation for e-puck? Should I use the generic sensors implementation?
I want to use the extended e-puck ground sensors too. Is it possible in ARGoS?

Thank you.

[2017-08-21 17:46] #46 closed

[2017-08-21 17:46] ilpincy commented on #46
Please refrain from asking these questions here. Use the forum instead. The issue tracker is only for bugs.

[2017-08-21 17:47] Mbt925 commented on #46
I am sorry. It was by mistake. I could not delete the issue after.

[2017-10-06 08:33] allsey87 commented on #40
@ilpincy like this?

![screenshot from 2017-10-06 10-06-06](https://user-images.githubusercontent.com/3796345/31268805-2e5de4c8-aa7e-11e7-9e8c-70678dc19e56.png)

This is with the `makeCurrent()` and `doneCurrent()` commented out. Somehow I only saw this for the first time today. The only major difference I can think of was that I was using the foot-bot and the dynamics2d engine for a simple demo..

[2017-10-06 10:17] allsey87 commented on #40
I will make a note here that this black pattern only appears when I go to select something. Furthermore, I can select objects in the simulation, however, everything appears to be offset by a constant value. That is, I can find X,Y coordinates on the screen that correspond to where the object is drawn with respect to the selection buffer. It seems that the selection buffer and drawing buffer are ju

[2017-11-01 15:18] alanmillard opened #47 "Segmentation fault when robots with Lua controllers are selected"
Shift+clicking on a robot should select the robot and display its internal variable values in the Lua editor, but this results in a segmentation fault. I cannot reproduce this problem on my Mac, but it happens every time under Linux. I'm running the latest version of ARGoS (3.0.0-beta48).

The attached file contains the .argos configuration file, .lua controller, and an example core dump.

[core_d

[2017-11-01 15:42] ilpincy commented on #47
I'll look into it. Is this related to the selection bug that is already open? That is due to the Intel driver managing badly multiple graphics cards.

[2017-11-01 15:55] allsey87 commented on #47
@alanmillard could you check if you have `lua_editor="true"` set inside the OpenGL tag?

[2017-11-01 15:59] allsey87 commented on #47
Never mind, I see you do have this variable set from core_dump/obstacle_avoidance.argos. This indeed seems like it may be a duplicate of #40 then.

[2017-11-01 16:47] alanmillard commented on #47
This certainly looks like it may be a duplicate of #40.

Let me know if there are any tests that I can run for you on this system to provide further information that may be of use.

[2017-11-01 17:29] ilpincy commented on #47
Try disabling the Intel video card. Unfortunately there isn't much I can do :(

[2017-11-01 17:29] #47 closed

[2017-11-02 14:16] allsey87 commented on #47
@ilpincy is it possible to propose a series of tests that we can use to probe this issue a little bit deeper? It would be good if we can collaborate and get #40 resolved at some point.

From my testing, it seems that the entities are being drawn in the selection buffer such that they are offset from what is being drawn in the display buffer. This corruption becomes apparent when the `makeCurrent()

[2017-11-04 06:21] ilpincy commented on #47
I doubt the bug is due to code in ARGoS. If so, it would happen on other Linux boxes, other drivers, etc. It only happens with a specific driver on machines that have multiple graphics cards.

[2017-11-04 07:06] beltrame commented on #47
Actually it happens on any machine with Intel cards, whether they have multiple cards or not. It happens on mine and I don't have a multi card system.

On November 4, 2017 7:21:37 AM GMT+01:00, Carlo Pinciroli <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-11-04 07:09] ilpincy commented on #47
Good to know, it doesn't happen on my old laptop which also has a single Intel card. It's still driver specific though.

[2017-11-09 12:36] allsey87 commented on #40
I'm going to allocate some time to solving this bug once and for all. I will document the steps that I have taken and would really appreciate any feedback or comments.

I am starting with a clean / up to date version ARGoS without any of my extensions. My first step was to get messages out of OpenGL to learn more about the nature of the segfault. My approach was to create and connect an instance o

[2017-11-09 14:08] ilpincy commented on #40
Before giving up on the QOpenGLDebugLogger, I would try to use `printf()` rather than `LOG`. `LOG` is buffered per thread and ARGoS explicitly has to call `LOG.Flush()` to print anything. It is normal that you get no output prior to the crash. Instead, if you use `printf()` and make sure to add a endline after each message, you'll see the messages for sure.

As for the second question, I don't kno

[2017-11-09 15:18] allsey87 commented on #40
Thanks @ilpincy, I will have another go using fprintf(stderr,...) to out the errors since I think printf also has buffering.

[2017-11-09 15:41] allsey87 commented on #40
Since RenderDoc wasn't working with the older version of OpenGL and since the OpenGL widget didn't render when I requested Qt to use a later version I attempted to use another OpenGL debugging tool called [BuGLe](https://www.opengl.org/sdk/tools/BuGLe/), this tool hasn't been developed for a while but I was able to get it working with a few tweaks to the source code.

There were two **filter sets*

[2017-11-09 15:58] allsey87 commented on #40
This is the updated code for using QOpenGLDebugLogger, I added this code directly beneath the call to `initializeOpenGLFunctions();` in `void argos::CQTOpenGLWidget::initializeGL()` putting this code any earlier causes a Qt assertion to fail.

[code]
I then proceeded to recompile, run ARGoS and select an epuck resulting in the segfault. A couple of additional lines appeared after I attempted to se

[2017-11-10 06:56] ilpincy commented on #40
Thanks for all the work! You basically got to the same point I got stuck, too. :(

I think Ubuntu should have a debug version of the mesa package, which installs the symbols you need to debug. Another possibility is to recompile the driver with debugging symbols on. Being a kernel driver I haven't dared to adventure beyond this point.

Having tried the code on several NVIDIA and Intel cards, and a

[2017-11-10 10:11] allsey87 commented on #40
I am going to have a go at building mesa driver now using the instructions over at [01.org](https://01.org/linuxgraphics/documentation/build-guide-0). The main issue I have with your conclusion that the Intel driver has a bug is that the problem disappears with Qt4. Just moments ago I confirmed this by installing Qt4 on my laptop (which removed Qt5) and building ARGoS based on commit https://githu

[2017-11-10 10:33] beltrame commented on #40
Michael Allwright writes:

I made a test and I confirm it works without a hitch with this
version. So, something happened with Qt5?

Regards,
--
Giovanni Beltrame, PhD, ing.
MIST Lab - mistlab.ca
Ecole Polytechnique de Montreal
Visiting Professor - University of Tübingen

[2017-11-10 13:02] allsey87 commented on #40
Steps taken to get a copy of i965_dri.so with debug symbols:
1. i965_dri.so is part of Mesa, the 3D drivers for the Intel Graphics Stack
2. `glxinfo | grep Mesa` reports that I am using Mesa 17.0.7 on my system, so I am going to download the same version from ftp://ftp.freedesktop.org/pub/mesa/mesa-17.0.7.tar.gz
3. I built the package using these commands, the configure scripted failed a couple ti

[2017-11-10 13:43] allsey87 commented on #40
And it worked! Not only did my laptop boot again, it also has given me a nice detailed backtrace from the segfault after selecting an e-puck in ARGoS. Here are the backtraces from a couple different runs:

[backtrace.1.txt](https://github.com/ilpincy/argos3/files/1461425/backtrace.1.txt), [backtrace.2.txt](https://github.com/ilpincy/argos3/files/1461426/backtrace.2.txt), [backtrace.3.txt](https://

[2017-11-10 13:47] ilpincy commented on #40
That is fantastic work Michael! Thank you so much!

[2017-11-10 14:00] allsey87 commented on #40
No problem! Let's get this bug solved!

I just reinstalled Qt4 and ran my test using https://github.com/ilpincy/argos3/commit/627ce753ee74d85bf77d16cd4fbd049dde32bb5f with a breakpoint inserted at intel_mipmap_tree.c:2425. I can see that in this version of ARGoS / Qt, the code never attempts to call `brw_blorp_blit_miptrees`.

[2017-11-10 15:34] allsey87 commented on #40
Focusing on what happens after entering SelectInScene: the main difference between the old version of ARGoS and the newer version of ARGoS based on Qt5, with respect to the driver, is when we select something we end up in the following block of code:
[code]
The difference between the new and old versions of ARGoS / Qt is that for the older version both `src->stencil_mt` and `dst->stencil_mt` were

[2017-11-13 09:20] allsey87 commented on #40
@ilpincy, I think at this point it would be useful to have a discussion about how you have configured the QOpenGLWidget for ARGoS. In particular, I would like to know which version and profile of OpenGL are we targeting with ARGoS. When I try to configure ARGoS to use OpenGL 4.3 / core profile, I get numerous warnings/errors about unsupported extensions, deprecated API etc:

[code]
[code]

So at t

[2017-11-13 11:57] ilpincy commented on #40
I think you might be on to something! When I say that it works, I mean that

- It works on my Macbook (it has Intel Iris Graphics 6100 1536 MB)
- It works on my Linux laptop, which has an NVIDIA graphics card, both with the legacy NVIDIA driver and with Nouveau.
- It works on Ubuntu installed on VMWare, but with a few warnings similar to those you show
- It kinda works on Ubuntu installed on Virtu

[2017-11-13 13:31] allsey87 commented on #40
This works for me.

I'll look into which API calls are resulting in the `GL_INVALID_OPERATION` messages. I think we should aim to support [OpenGL 4.5](https://en.wikipedia.org/wiki/OpenGL#OpenGL_4.5) since it was released in 2014 and should have good support assuming reasonably up to date graphics drivers.

[2017-11-13 13:50] #41 closed

[2017-11-13 14:23] allsey87 commented on #40
@ilpincy these are a couple articles I have been looking at. I think although the qtopengl visualisation is partially working, I have a hunch (unless I am missing something) that the way OpenGL is being initialized at the moment is flawed or at least only valid on OS X.

1. [Getting Started](https://www.khronos.org/opengl/wiki/Getting_Started#macOS)
2. [Load OpenGL Functions](https://www.khronos.o

[2017-11-13 14:42] allsey87 commented on #40
Actually, searching on [this page](http://doc.qt.io/archives/qt-5.5/functions.html) for functions like glPushMatrix, glMaterialfv etc we will definitely have to use one of the compatibility contexts of OpenGL, if we want to completely avoid rewriting the visualization plugin.

[2017-11-22 09:56] allsey87 commented on #40
@ilpincy using a really nice program called [apitrace](https://github.com/apitrace/apitrace/) I was able to get the exact state of OpenGL on the call to glSelectBuffer right before glRenderMode(SELECT) on both the Qt4 and Qt5 versions of ARGoS. This is the output of diffing the two states using the command `apitrace diff-state argos3-qt4-2568.json argos3-qt5-5176.json`

[code]

[2017-11-24 15:44] allsey87 commented on #40
So, based on my last post I and after digging a bit more deeply I have reached the following conclusions:
1. Qt5 sets up OpenGL in way that is quite different to Qt4 and uses different combinations of buffers, attachments etc.
2. The reason for the crash is that for some reason, these changes in the buffers are triggering a bug in the Intel driver
3. The selection approach used in the QtOpenGL plu

[2017-11-25 00:25] ilpincy commented on #40
Wow, thanks a lot for all this work! Really impressive! :-O

I do agree that we should move to a more modern visualization, especially one that allows for models to be imported in a simple way. I have wanted to do it since forever, but never found the time/help to make it happen.

I had a few cracks at Horde3D myself and it would be choice too - I even have some initial prototype code done.

I nev

[2017-11-27 09:21] allsey87 commented on #40
@ilpincy, @beltrame, and @cjcormier: when you get a chance could test out my solution  / work around in: https://github.com/allsey87/argos3-selection-proposal

If you could let me know whether this works and any additional info like OS, graphics card / driver, OpenGL version etc that would be very helpful. I can then finalise this work around, submit it, and close off this bug.

[2017-11-27 11:19] beltrame commented on #40
Michael Allwright writes:

For me there's no crash, but I can't select robots either. I'm using
OpenSuSE Tumbleweed, Intel HD 620 with i915 driver, GLX 1.4, OpenGL core 4.5.

Regards,
--
Giovanni Beltrame, PhD, ing.
MIST Lab - mistlab.ca
Ecole Polytechnique de Montreal
Visiting Professor - University of Tübingen

[2017-11-27 11:48] allsey87 commented on #40
@beltrame thanks for testing this, I have only implemented the selection for boxes at the moment. The test file is `src/testing/experiment/test-selection.argos`. are you able to select and move the boxes?

[2017-11-27 20:28] alanmillard opened #48 "Ordering of CSet<CRABEquippedEntity*> returned by CRABMedium::GetRABsCommunicatingWith() is non-deterministic"
If I use the default RAB sensor with non-zero values for either `noise_std_dev` or `packet_drop_prob`, then I get inconsistent experimental results despite using the same random seed (not zero).

The problem seems to occur because the ordering of the `CSet<CRABEquippedEntity*>` returned by [`CRABMedium::GetRABsCommunicatingWith()`](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulato

[2017-11-27 20:30] ilpincy commented on #48
Oh man. I never noticed this. Thanks for spotting this issue. I'll look at it and fix the code later today!

[2017-11-27 20:34] beltrame commented on #40
Michael Allwright writes:

Yes, that works!

Regards,
--
Giovanni Beltrame, PhD, ing.
MIST Lab - mistlab.ca
Ecole Polytechnique de Montreal
Visiting Professor - University of Tübingen

[2017-11-28 12:07] alanmillard commented on #48
I've had a closer look at this, and I think the problem is caused by the `for` loop that iterates over `m_tRoutingTable` on [Line 133 of `rab_medium.cpp`](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/media/rab_medium.cpp#L133).

`m_tRoutingTable` is defined as an `std::map`:

`typedef std::map<CRABEquippedEntity*, CSet<CRABEquippedEntity*> > TRoutingTable;`

and iterating ov

[2017-11-28 14:03] alanmillard commented on #48
I just tried implementing the last solution above (maintaining a separate `std::vector<CRABEquippedEntity*>` alongside the `std::map`), and this indeed makes the `for` loop that iterates over `m_tRoutingTable` on [Line 133 of rab_medium.cpp](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/media/rab_medium.cpp#L133) deterministic.

However, this does not entirely solve the probl

[2017-11-28 14:55] alanmillard commented on #48
I can confirm that modifying [`CRangeAndBearingMediumSensor::Update()`](https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/generic/simulator/range_and_bearing_medium_sensor.cpp#L75) such that it copies `setRABs` into a `std::vector<CRABEquippedEntity*>` and sorts it based on robot ID solves the problem.

I can create a pull request for this, but I'm not sure if it's the best solution

[2017-11-29 16:05] ilpincy commented on #48
Hello Alan! I finally have a little time to look into the issue myself. Thank you so much for all the work you've done to track down and propose a solution for this problem! Please do submit a pull request and I'll look into it. I thought about a different approach to achieve the same effect (implementing a faster, deterministic map replacement for std::map which is anyway long overdue), but havin

[2017-11-29 16:13] ilpincy commented on #48
On second thought: the culprit for `m_tRoutingTable` not to be deterministic actually is that pointers to `CRABEquippedEntity*` used as key cannot be the same across different executions of ARGoS. Every time you run a new experiment, the addresses will be different - and so will the order in the map. The solution could be as simple as using a different key. ARGoS already has a few vectors that are

[2017-11-29 16:52] alanmillard commented on #48
Hi Carlo, I've submitted a pull request for my fix: https://github.com/ilpincy/argos3/pull/49

This is a bit of a hack, though. The solutions you propose sound much better in the long-run. Making the inner-workings of ARGoS deterministic would be ideal, as long as it doesn't come at the expense of efficiency.

Let me know if there's anything more I can do to help. I'm keen to find a good solution

[2017-11-29 16:53] ilpincy commented on #48
I am about to push my proposed solution. Can you check it for reproducibility? I'll make a performance comparison between yours and mine on my side.

[2017-11-29 17:11] alanmillard commented on #48
Sure, I'd be happy to.

[2017-11-29 17:22] ilpincy commented on #48
I pushed my proposed change. It's similar in style to yours, but it's faster. Can you check if it's repeatable on your system? Thanks!

[2017-11-29 17:58] alanmillard commented on #48
Hi Carlo,

This still produces non-deterministic results on my system.

Your solution of maintaining a separate vector to keep track of the order in which entities are added is [similar to the one I tried previously](https://github.com/ilpincy/argos3/issues/48#issuecomment-347532620). This fixes the non-determinism of the outer `for` loop, but the ordering of the `CSet<CRABEquippedEntity*>` return

[2017-11-29 18:00] ilpincy commented on #48
Thanks Alan! I am working on making the positional index capable of ordering the result of `GetEntitiesAt()` deterministic. This way, every call to it would be deterministic by design, and this would fix other places that are not being considered now.

[2017-11-29 19:31] ilpincy commented on #48
I pushed another proposed change.

I added a field `CEntity::m_unIndex` for global ordering. This field is set in `CSpace::AddEntity()` every time a new entity is added. Then I added a generic `SEntityComaprator` that uses the index to decide which entity comes first, instead of using the pointers as before. Then I extended `CSet<>` to accept a comparator, and modified `CPositionalIndex<>` and `CG

[2017-11-30 13:42] alanmillard commented on #48
Excellent, this seems to fix the non-deterministic behaviour on my system :)

Thanks for the taking the time to dig through the internals of ARGoS and make these fundamental changes. It's exactly the kind of solution I was hoping for, but would have taken me considerably longer to figure out myself.

Once you're done ironing out the wrinkles, could you please release the changes as ARGoS 3.0.0-bet

[2017-11-30 15:04] allsey87 commented on #40
@ilpincy I have updated https://github.com/allsey87/argos3-selection-proposal with a version of the patch that should work for all entities. It was very simple to implement. You should check it out sometime ;)

[2017-11-30 15:22] allsey87 opened #50 "Solution to the "QObject::disconnect: Unexpected null parameter" warning"
This is low priority, but there is a small bug in the Lua interface that causes the `QObject::disconnect: Unexpected null parameter` error. As shown in the [backtrace](https://github.com/ilpincy/argos3/files/1518279/backtrace.txt) I prepared, this results from trying to disconnect the Qt signals from m_pcLuaVariableTree->model(), which is already NULL at the time of the call to disconnect.

[code]

[2017-11-30 16:19] alanmillard commented on #40
@allsey87 I just tried compiling your code on an affected machine, and I get the following error:

`error: ‘class QImage’ has no member named ‘pixelColor’`

The machine is running Qt version 5.5.1, which seems to be missing this function. What is the minimum version of Qt required for your code to compile?

Thanks,
Alan

[2017-11-30 16:28] allsey87 commented on #40
[According to the docs](http://doc.qt.io/qt-5/qimage.html#pixel), It seems this function was introduced in Qt 5.6. Which OS and version do you have installed? If compatibility with older versions is required we can use `QRgb QImage::pixel(int x, int y) const` which has been around since Qt 4.8. This version may actually be better since QRgb is just an ARGB quadruplet with the format `AARRGGBB` and

[2017-11-30 16:37] allsey87 commented on #40
@alanmillard I just updated my repo, try again now.

[2017-12-01 23:24] alanmillard commented on #48
I just tried compiling this new code in my Ubuntu 16.04 VM (gcc 5.4.0), and I get the following error:

`error: ‘unordered_map’ in namespace ‘std’ does not name a template type`

I thought this might be something to do with `std::unordered_map` being a C++11 feature, so I tried adding `-std=c++11` to `CMAKE_CXX_FLAGS`, but it didn't seem to help.

[2017-12-01 23:38] alanmillard commented on #48
I've also just noticed that for certain ARGoS experiments on my Mac, these changes cause segmentation faults (either immediately, or during the experiment), or I get errors during initialisation like the following:

[code]

[code]

[2017-12-01 23:57] ilpincy commented on #48
The work is not done. I had to juggle other commitments. I'll finish during
the weekend.

On Dec 1, 2017 18:38, "Alan Millard" <notifications@github.com> wrote:

[2017-12-02 13:28] Mbt925 opened #52 "Problem compiling the latest version of ARGoS"
I pulled the latest changes today and tried to compile it. I got:
My OS is Ubuntu v17.04.

[code]

[2017-12-02 21:13] #52 closed

[2017-12-03 00:50] ilpincy commented on #48
I'm done with the work. I tried on both Mac and Ubuntu 16.04 and it seems to work. If you could etst it too, it would be great!

[2017-12-04 14:59] alanmillard commented on #40
@allsey87 I'm now able to compile your code, but the selection only works intermittently.

I can select and move both robots and boxes/cylinders reliably when the ARGoS simulation tick is zero (before pressing play). However, if the simulation is running, or even paused after being played, selecting/deselecting entities results in `Segmentation fault (core dumped)`.

I'm testing it with `diffusion

[2017-12-04 15:28] allsey87 commented on #40
Nice catch @alanmillard, I just tested this and can replicate the issue. It appears to be caused by the drawing a controller's rays onto the OpenGL scene. Setting `show_rays="false"` in the XML for all sensors allows me to move things around without a problem. I'll see if I can find a clean solution to this.

[2017-12-04 15:33] alanmillard commented on #48
Just tested this on macOS Sierra (10.12.6) and in my Ubuntu 16.04.03 VM, and can confirm that the RAB sensor now behaves deterministically!

Thanks again for all your work on this Carlo. It's nice to know that entities now have a globally deterministic ordering throughout ARGoS.

[2017-12-04 15:35] ilpincy commented on #48
Thank you for spotting this problem. The same issue was present in the kilobot plugin, and I couldn't figure out why. Your bug report was key to understanding and solving it!

[2017-12-04 15:35] #48 closed

[2017-12-04 15:44] allsey87 commented on #40
Ok, the problem is inside `void CQTOpenGLWidget::DrawRays(CControllableEntity& c_entity)` which is using GL_LINES with GL_LIGHTING disabled. I have implemented a fix by adding a bool which disables the functionality of DrawRays while inside SelectInScene. @alanmillard this time it should work! ;)

[2017-12-04 15:51] alanmillard commented on #40
Nice! This seems much more reliable, although through lots of aggressive selecting/deselecting/moving entities, I managed to break it :)

I'm not exactly sure what I did, but I go the following error:

[code]

Any idea what might have caused this?

[2017-12-04 16:07] allsey87 commented on #50
Also worth noting is a segfault which is produced for a similar reason as the `QObject::disconnect: Unexpected null parameter` warning. I am to produce this sometime when transitioning from having a light source selected and then selecting a robot (or vice versa). Attached is a [backtrace](https://github.com/ilpincy/argos3/files/1527811/backtrace.txt) that shows that this due to an oversight in th

[2017-12-04 16:11] alanmillard commented on #40
Sorry, I've only just noticed issue https://github.com/ilpincy/argos3/issues/50, which this latest error seems to relate to. I forgot to mention that I broke this using a Lua example.

As far as I can tell, @allsey87's new selection method is working reliably.

[2017-12-04 16:12] allsey87 commented on #40
@alanmillard out of interest, did your aggressive selecting/deselecting/moving involve the light source? If so, I was also able to recreate this segfault and have determined that it isn't related to #40 but rather to #50.

[2017-12-04 16:14] ilpincy commented on #40
I'm on this bug and on #50 today! Let me just finish a couple more boring chores, and all this will be fixed by the end of the day.

[2017-12-04 16:21] alanmillard commented on #40
@allsey87 it didn't involve a light source. I'll upload the code to #50, in case it helps.

[2017-12-04 16:22] alanmillard commented on #50
I'm able to reproduce the error with the following code, which does not include a light source: [obstacle_avoidance.zip](https://github.com/ilpincy/argos3/files/1527877/obstacle_avoidance.zip)

[2017-12-04 16:34] allsey87 commented on #40
@alanmillard it would be difficult to pin point exactly where that segfault is coming from without more information / a GDB backtrace. Are you able to reproduce the segfault with the Lua editor switched off (see the XML configuration for the QtOpenGL plugin)? If not, it is very likely that this segfault is related to the Lua variable tree and #50

[2017-12-04 16:40] alanmillard opened #53 "Entity selection box not anchored to entity"
When selecting an entity, the selection box is not anchored to the entity itself (see image below). If a robot is selected, then the position of the box begins anchored on the robot, and then floats up into the air as the robot moves. Moving the camera also causes the selection box to move around.

I've only been able to reproduce this issue in my Ubuntu 16.04 VM (it doesn't happen under macOS). I

[2017-12-04 16:46] alanmillard commented on #40
@allsey87 I can't seem to reproduce the problem with the Lua editor disabled, so I suspect that this is related to #50. I will see if I can provide further debugging information.

[2017-12-04 17:08] alanmillard commented on #50
Running ARGoS in `gdb` shows that the above code segfaults on line 773 of `qtopengl_lua_main_window.cpp`:

`m_pcLuaVariableTree->setRootIndex(m_pcLuaVariableTree->model()->index(0, 0));`

See [backtrace.txt](https://github.com/ilpincy/argos3/files/1528044/backtrace.txt) for further detail.

[2017-12-07 16:30] ilpincy commented on #50
Working on it now.

[2017-12-07 20:41] ilpincy commented on #50
So, I looked at the code. I made a Buzz editor based on the Lua editor, and the Buzz editor now has new features with respect to the Lua one. Along with the new features, the Buzz editor also solves all of the issues mentioned here. I guess the best option for me is to backport the Buzz editor into the Lua one, so we would get the new features as well. It'll take a day or two - done by the weekend

[2017-12-07 20:59] allsey87 commented on #50
@ilpincy sounds good. Can you make a decision on whether to accept my proposal for #40 first though? It really should take no more than 10 minutes and I did put two weeks of work to get to that point... It would really be appreciated.

[2017-12-08 13:35] alanmillard commented on #53
I've narrowed this down to [Line 540 of `qtopengl_widget.cpp`](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/visualizations/qt-opengl/qtopengl_widget.cpp#L540). Commenting out `glPolygonMode(GL_FRONT_AND_BACK, GL_LINE)` "fixes" the problem, which seems odd, because it shouldn't affect any matrices (as far as I'm aware).

`glxinfo | grep "OpenGL version"` prints `OpenGL versio

[2017-12-10 18:43] ilpincy commented on #40
I tried the selection proposal on my machine. It kinda works, but it doesn't fully. In particular, it messes up the colors of the OpenGL window when things are selected (see attached screenshots of before and after selection).
<img width="561" alt="screen shot 2017-12-10 at 13 42 56" src="https://user-images.githubusercontent.com/2726243/33808185-1a961bb2-ddb0-11e7-8530-e004911c8dbf.png">
<img wid

[2017-12-11 19:07] allsey87 commented on #40
@ilpincy it looks like the selection method is interfering with the draw functions in the QtOpenGLLoopFunction class. A simple work around could be put into place, I'll investigate this as soon as I get back to Brussels. Unfortunately I'm stuck at the moment due to a cancelled flight.

I agree the current visualisation should be scrapped and would be up for working on an replacement. I would like

[2017-12-15 10:46] allsey87 commented on #40
I added a user function which drew a couple black circles on to the arena and I am unable to recreate the issue described above. I have a theory that this comes down to different implementations of OpenGL, specifically I think your implementation of `glColor3f` is being non compliant and not setting the alpha channel back to full intensity [as outlined in the docs:](https://www.khronos.org/registr

[2017-12-15 13:14] allsey87 commented on #40
Note, I assume now that the shaded areas in your screenshots are probably coming from the CFloorEntity via a loop function. I added the following code to see if I can recreate this problem on my end, but everything looks good to me:
[code]
Since both QOpenGLFramebufferObject and the rendering of CFloorEntity are using GL_TEXTURE_2D, it is possible something is interfering here, but again, with suc

[2018-01-22 15:52] randUsr opened #56 "Segfault when accessing gripped entity"
I get a Segemantation fault, when accessing the `EmbodiedEntity` the gripper holds via the `.GetGrippedEntity()` function.
I forked the argos3-examples repository and implemented a loopfunction, that produces the segault with the gripper example.

Steps to reproduce:
1. clone https://github.com/randusr/argos3-examples
1. build & run gripper example
1. press start in gui
1. as soon as the robot gri

[2018-01-23 05:22] ilpincy commented on #56
Thanks for the bugreport! I'll have a look at it in the weekend.

[2018-01-29 00:49] ilpincy commented on #56
[fix.txt](https://github.com/ilpincy/argos3/files/1671821/fix.txt)
It's a bug in your code. Here the fix. I suggest you to learn how references work in C++, because the bug you had was due to that.

[2018-01-29 00:49] #56 closed

[2018-01-30 07:27] randUsr commented on #56
Thanks for looking through the code and the fix.
Sorry for bothering you with trivialities!

[2018-01-30 20:41] jadhavan opened #57 "creating disc in the qt user functions"
Currently, we don't have a method to create a disc-like shape using qt user functions.

[2018-01-30 20:42] #57 closed

[2018-02-03 16:32] #40 closed

[2018-02-03 16:39] #53 closed

[2018-02-04 13:59] Mbt925 opened #58 "Segmentation fault (core dumped)"
After the latest pull, I am getting a segmentation fault error when running a previously working project:

[code]

[2018-02-04 14:42] ilpincy commented on #58
Can you tell me more about your project? For instance, use gdb to know where the segfault happens?

[2018-02-05 09:10] Mbt925 commented on #58
I compiled ARGoS in release mode. Can I use gdb in this mode?

Also, I noticed that I am getting a black screen when running all ARGoS built-in examples, like synchronization, foraging, etc. The following screenshot belongs to synchronization examples.
![ubuntu 64-bit 17 04-2018-02-05-12-36-14](https://user-images.githubusercontent.com/10066112/35796420-bb5f028c-0a71-11e8-8bd8-7c0b256146c7.png)

[2018-02-05 09:24] allsey87 commented on #58
@Mbt925 you will need to build the simulator in debug mode to get meaningful output from GDB. Could you do this and provide a backtrace for the segfault?

[2018-02-05 09:46] Mbt925 commented on #58
[code]

[2018-02-05 09:49] Mbt925 commented on #58
Segmentation fault only occurs with epuck related project. So I think the problem is related to the epuck plugin. But black screen occurs with all of the samples.

[2018-02-05 10:00] allsey87 commented on #58
Well looking at the last couple of frames from the backtrace, it can be concluded that the [destructor calling delete on m_pcDischargeModel](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/entities/battery_equipped_entity.cpp#L61) is the cause of the segfault. This should be a quick fix, since, at a guess, we are trying to delete something that has already been deleted.

As for

[2018-02-05 10:05] Mbt925 commented on #58
Thank you for investigating the issue. I am using VMware with Ubuntu 17.04.
`OpenGL version string: 3.0 Mesa 17.0.7`

[2018-02-05 11:11] allsey87 commented on #58
@Mbt925 thank you for the information. You mentioned that you pulled in the latest changes, can you give us the commit id from the last time you pull changes from the github repo?

[2018-02-05 11:49] Mbt925 commented on #58
commit 6d3d3ec731ec60c659a51414171fa46abccb9713

[2018-02-05 11:54] Mbt925 commented on #58
I pulled in the last commit and the black region is gone.

[2018-02-05 18:21] alanmillard commented on #53
Just an update for anyone else running ARGoS using VMWare Fusion:

So far I've only been able to reproduce this issue in Ubuntu VMs (16.04 and 17.10) running on a Mac via VMWare Fusion (10.1.1). It doesn't seem to be an issue with Mesa, as the bug still occurs after upgrading to version 17.3.3, and everything works fine on a native installation of Ubuntu 16.04 running Mesa 17.2.4.

This seems to b

[2018-02-05 20:14] ilpincy commented on #53
Thanks for the update, that clarifies quite a lot why I can't reproduce the problem on any machine I tried. Should I keep the bug open and mark it as "invalid", meaning that it's not an ARGoS problem?

[2018-02-06 10:56] alanmillard commented on #53
Yes, I would mark it as invalid. This doesn't seem to be a bug in ARGoS - the line `glPolygonMode(GL_FRONT_AND_BACK, GL_LINE)` should have no side-effects, and only seems to cause problems with VMWare Fusion.

[2018-02-06 22:11] ilpincy commented on #53
Also, if I remove that line the entire arena becomes a black box...

[2018-02-06 23:30] alanmillard commented on #53
Sorry, what I meant by commenting out the line "fixing" the problem is that the bounding box doesn't float around anymore, but it will be rendered as a solid block - the same as using `glPolygonMode(GL_FRONT_AND_BACK, GL_FILL)` instead.

I tried printing out the coordinates of `sBBox`, and they're definitely correct - it's just a rendering issue. I haven't been able to reproduce the problem by cre

[2018-02-07 01:01] ilpincy commented on #53
That is really weird. I don't know what could be the cause, and unfortunately I don't have much time right now to look into the bug :( If you could have a look into that it would be awesome. Otherwise, as soon as I have some time, I'll try and reproduce it.

[2018-02-07 17:52] alanmillard commented on #53
I raised this issue on the VMware Fusion forums, and apparently VMware VMs only support the OpenGL 3.3 Core Profile (see here: https://communities.vmware.com/message/2743723). Given that ARGoS is using the deprecated fixed pipeline rendering method that @allsey87 mentioned in #40, which was phased out as of OpenGL 3.1, I don't think we can expect the visualisation plugin to work properly in VMware

[2018-02-07 20:51] ilpincy commented on #53
I agree, but before the summer I won't be able to do it. I tried asking students to do it, but they mostly got scared and dropped the ball :/

[2018-02-15 15:39] liwei-cn opened #61 "freeze when capturing frames"
When I clicked the button 'Capture Frames', the videos got stuck. For version 43, it does not have such a problem. I am not sure if this is because of an update from qt4 to qt5.

Thanks,
Wei
![screenshot from 2018-02-15 14-56-01](https://user-images.githubusercontent.com/6854945/36265086-59ac0826-1266-11e8-9735-539aa7feb136.png)

[2018-02-15 18:39] ilpincy commented on #61
Can you give a little more detail about the issue?

1. What version of Ubuntu are you running?
2. What video drivers are installed on your system? (Output of `lsmod`)
3. The output of `lspci`

[2018-02-15 19:57] liwei-cn commented on #61
Hi, I am using Ubuntu 16.04.03. The video driver I am using is: i915.
lspci:
00:00.0 Host bridge: Intel Corporation Device 5904 (rev 02)
00:02.0 VGA compatible controller: Intel Corporation Device 5916 (rev 02)
00:14.0 USB controller: Intel Corporation Sunrise Point-LP USB 3.0 xHCI Controller (rev 21)
00:14.2 Signal processing controller: Intel Corporation Sunrise Point-LP Thermal subsystem (rev 2

[2018-03-05 15:24] allsey87 opened #62 "ARGoSBuildFlags.cmake clobbers CMAKE_CXX_FLAGS and prevents cross compilation"
[Yocto](https://www.yoctoproject.org/) is one of the most common build systems for embedded Linux systems. When using a CMake-based recipe in this build system, `CMAKE_CXX_FLAGS` is set up automatically to enable effortless cross compilation.

However, ARGoSBuildFlags.cmake clobbers this variable ([see line 19 of ARGoSBuildFlags.cmake](https://github.com/ilpincy/argos3/blob/master/src/cmake/ARGoSB

[2018-03-05 15:58] ilpincy commented on #62
I think it's OK to fix it so Yocto can do its job. I'll work on it today in the evening.

[2018-03-05 16:39] allsey87 commented on #62
Great, from our testing, Yocto seems to only set up `CMAKE_C(XX)_FLAGS`. It is fine to override the other variables such as `CMAKE_C(XX)_FLAGS_DEBUG` and `CMAKE_C(XX)_FLAGS_RELEASE`, these variables just contained `-g` and `-DNDEBUG` respectively (possibly the CMake defaults) and overriding them with `-ggdb3` and `-O2 -DNDEBUG` respectively doesn't seem to be an issue.

[2018-03-05 16:40] ilpincy commented on #62
I'll try and make a generic solution, so Yocto will have full control of those flags.

[2018-03-05 16:41] ilpincy commented on #62
BTW, I assume you're using a CMake target file, right? If not, please do.

[2018-03-05 16:53] allsey87 commented on #62
For the moment, we are just building ARGoS using `-DARGOS_BUILD_FOR=myrobot` and haven't changed anything else. We are just checking for now whether we can build the core libraries. I'll have to look into what the target file is, but generally speaking, Yocto + CMake automatically handle the installation of all executables and libraries on to an image automatically.

The following is an example of

[2018-03-05 17:27] ilpincy commented on #62
CMake requires you to use toolchain files to cross compile. If you don't use those, you're messing it up. It's possible Yocto does it automatically and you don't need to bother. Anyway, be sure to check CMake toolchain files, just to know how to configure things correctly. Here is a brief reference: https://cmake.org/cmake/help/v3.0/manual/cmake-toolchains.7.html#id6.

[2018-03-06 08:18] allsey87 commented on #62
Right, I remember doing this before working with Yocto. These days it is much easier to cross compile, you just need to define a recipe that inherits from the cmake base recipe, and everything is handled automatically...

[2018-03-30 08:29] allsey87 opened #66 "Opinion: assigning the medium of an entity in an actuator is a bug"
Referring to [this line of code](https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/generic/simulator/leds_default_actuator.cpp#L37), I think the adding of LEDs to a medium here has been done as a work around so that entities like the foot-bot etc don't need to declare which medium their LEDs should be added to in the XML. This solution, however, just feels like a bit of a hack to me

[2018-03-30 09:16] ilpincy commented on #66
I see your point.

The solution currently in place is, in fact, not a hack. It's meant to prevent media from adding entities that are not enabled (e.g., if you have an LED medium, but some robots do not use LEDs while others do). When you have simulations with hundreds of robots, this kind of feature proves critical for performance and memory efficiency.

Thus, the idea is that it's the act of add

[2018-03-30 12:16] allsey87 commented on #66
From my understanding of the new logic for enabling/disabling that you added in December (fffd3e5e8fc5d9f5369d9dc605c6a88217db6421), it seems like we could just do the following in the init code for the LED actuator:

[code]
And this would trigger adding the contained LED entities to the medium (if they were not already added, e.g., in the case of the box entity) and I don't think there would be a

[2018-04-19 13:39] daneshtarapore opened #67 "Issue with compiling argos3 system-wide (linking error for argos3_prof)"
Am trying to compile argos on Ubuntu 14.04 x86_64 system.

Have made all the dependency packages have been installed.
sudo apt-get install libfreeimage-dev libfreeimageplus-dev \
  qt5-default freeglut3-dev libxi-dev libxmu-dev liblua5.2-dev \
  lua5.2 doxygen graphviz graphviz-dev asciidoc

However, when compiling, I get the following linker errors for argos3_prof:
Scanning dependencies of target

[2018-04-19 15:13] allsey87 commented on #67
Hi Danesh, support for Ubuntu is 14.04 ended a long time ago. Can you upgrade to either 16.04 or 18.04 LTS?

[2018-04-19 15:27] ilpincy commented on #67
Hi Danesh, Ubuntu 14.04 is not supported anymore because the version of Qt shipped with it is too old. To be able to support both the current Mac OSX and Ubuntu, we had to make a cutoff at Ubuntu 16.04. Anything older than that won't work anymore.

[2018-04-19 15:32] daneshtarapore commented on #67
Many apologies for the typo. I am using Ubuntu 16.04.4 LTS. The errors reported were with the latest commit of argos3.

Thanks,
Danesh.

[2018-04-19 15:35] ilpincy commented on #67
In theory `argos_prof` should never be compiled, it's intended only for me to do profiling. Have you installed google-perftools because you saw that CMake was looking for it? ARGoS will compile fine if you remove google-perftools. In the meantime I'll fix this compilation issue.

[2018-04-19 15:37] daneshtarapore commented on #67
No, google-perftools is not installed.

[2018-04-19 15:41] ilpincy commented on #67
It might be called gperftools, but argos-prof is only compiled when it is detected in the system. BTW, why are you trying to compile ARGoS from the sources, rather than using the precompiled binaries?

[2018-04-19 15:45] daneshtarapore commented on #67
I would like to implement the Thymio robot in argos, hence the compilation from source (thanks for your advise!).

Btw, I just installed google-perftools, and now argos3 compiles.

[2018-04-19 15:47] ilpincy commented on #67
If you plan on making a new robot, please follow the blueprint of the KheperaIV and make a separate repository. It's much simpler to work that way.

I'm checking on my virtual machine what happens with the compilation...

[2018-04-19 15:49] daneshtarapore commented on #67
Okay, thanks for the suggestion.

[2018-04-19 15:49] ilpincy commented on #67
... and it worked. I can't make sense of your installation trying to compile `argos3_prof`. That should not happen. Can you share your CMakeCache.txt when the error occurs?

[2018-04-19 15:54] ilpincy commented on #67
If you check the CMake script here:
https://github.com/ilpincy/argos3/blob/master/src/testing/CMakeLists.txt#L73

you see that `argos3_prof` is only compiled if you're compiling the simulator and you have Google Perftools installed. I tried on the VM I use to make packages (no gperftools) and the compilation is successful. I don't understand what's going on on your machine...

[2018-04-19 15:55] daneshtarapore commented on #67
[CMakeLists.txt](https://github.com/ilpincy/argos3/files/1928834/CMakeLists.txt)

[2018-04-19 15:56] ilpincy commented on #67
I need the file build/CMakeCache.txt, which is generated when you run `cmake`

[2018-04-19 15:57] daneshtarapore commented on #67
Apologies, posted the wrong one. Here you go:
[CMakeCache.txt](https://github.com/ilpincy/argos3/files/1928841/CMakeCache.txt)

[2018-04-19 15:59] ilpincy commented on #67
Reading your file:

[code]

Those should be set to `NOT-FOUND`.

[2018-04-19 16:06] daneshtarapore commented on #67
Even when I apt-get remove google-perftools, it still seems to find these files:

//Google PerfTools header location
GOOGLEPERFTOOLS_INCLUDE_DIR:PATH=/usr/include/google

//Google PerfTools library location
GOOGLEPERFTOOLS_LIBRARY:FILEPATH=/usr/lib/libtcmalloc.so

Not sure if any other library is involved here.

[2018-04-19 16:12] ilpincy commented on #67
So it does seem that you have google perftools installed somehow. Maybe you installed it manually? Anyway, it's enough to remove it and you won't have compilation issues. Or install the official package, which also seems to have worked. Either way, it seems to be a problem specific to your machine.

[2018-04-19 16:15] daneshtarapore commented on #67
Okay, many thanks.

[2018-04-26 15:13] PeterMitrano opened #72 "FootBot LEDs only support colors with 0 or 255, all other colors just show up as white."
for example, `m_pcLEDs->SetAllColors(CColor::PURPLE);`, will just show up as white.

[2018-04-27 04:54] ilpincy commented on #72
Uhm, weird - I'll look into it tomorrow...

[2018-05-01 08:48] allsey87 opened #73 "Todo: Fix AddComponent in C[Entity]EquippedEntity Classes"
During checking my code, I noticed that the constructor initialisation path for many of the _CEntityEquippedEntity_ entities is somewhat broken. The method AddComponent will add components to the composable entity correctly, however, the update components specialisation in the class (which uses an anchor and an offset often defined in a struct inside the class) would have no effect on these compon

[2018-05-04 23:52] PeterMitrano commented on #72
I'd be happy to fix this but after digging through the code I can't figure out where the bug is--do you have any hunches?

[2018-05-05 09:39] yunxiaoshan opened #74 "what is the call order of the functions in the controller?"
I am a little confused about the order to call the function?, first is init(), and then the controlstep()? Or there exists a file to explain it?

[2018-05-05 13:41] ilpincy commented on #74
Please use the [forum](http://argos-sim.info/forum/) for this questions.

[2018-05-05 13:41] #74 closed

[2018-05-05 13:42] #58 closed

[2018-05-05 13:43] Mbt925 commented on #58
Is this fixed?

[2018-05-05 13:44] ilpincy commented on #58
I had about 50 new users since this bug report, and nobody else reported this issue. I can't reproduce it either.

[2018-05-05 14:53] ilpincy commented on #72
The color is set [here](https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/foot-bot/simulator/qtopengl_footbot.cpp#L362), and apparently the values I'm setting for `pfEmission` are way out of scale, hence the white. Setting `fEmissionFactor = 1.0` solves the problem.

[2018-05-05 20:06] #72 closed

[2018-05-06 20:52] #62 closed

[2018-05-06 20:52] #67 closed

[2018-05-07 07:33] allsey87 commented on #62
I will run this through Yocto and report back if everything is working.

[2018-05-17 14:17] eliseofe opened #76 "Argos beta 50 fails to run due to unresolved symbol"
The following error occurs:

    ubuntu@computer01:~/Ziya/argos3-examples/experiments$ argos3 -c synchronization.argos
    [FATAL] Can't load library "/usr/lib/argos3/libargos3plugin_simulator_dynamics3d.so" even after trying to add extensions for shared library (so) and module library (so):
    /usr/lib/argos3/libargos3plugin_simulator_dynamics3d.so: /usr/lib/argos3/libargos3plugin_simulator_dyna

[2018-05-17 15:15] ilpincy commented on #76
I tried reproducing your problem on Ubuntu 16.04 and Mac OS Sierra, but everything seems to be working correctly.

If you install beta50 and run `argos3 -q all`, what's the output?

I suspect that you have ARGoS installed twice in the system.

[2018-05-17 15:18] eliseofe commented on #76
Ziya could you please comment on this? Did you install argos twice ? (what
I did today to fix it is apt-get remove argos_simulator and then install
49).

On Thu, May 17, 2018 at 7:15 PM, Carlo Pinciroli <notifications@github.com>
wrote:

[2018-05-17 15:19] ilpincy commented on #76
The output of the commands mentioned by @allsey87 and `argos3 -q all` will tell us what's going on :-) We'll wait for an answer.

[2018-05-17 15:25] eliseofe commented on #76
Cardo ma se non metti Ziya non la mail non ti risponde

deve reinstallare il 50 mo e riprovare, sta lavorando con la 49

On Thu, May 17, 2018 at 7:19 PM, Carlo Pinciroli <notifications@github.com>
wrote:

[2018-05-17 20:52] eliseofe commented on #76
First installation did  by dr elio and he removed argos beta 50.(but i am not sure how he installed and removed) and then i installed same version and got same error.
Do you want me to remove beta 49 and install beta 50?

Regards,
Ziya

[2018-05-17 20:53] ilpincy commented on #76
Please install beta50 and execute the commands @allsey87 and myself suggested.

[2018-05-17 20:53] ilpincy commented on #76
Also, please document the exact list of commands you used to uninstall and install ARGoS.

[2018-05-18 04:31] ARArun commented on #76
I had installed version 49 earlier and it was working fine. Now After I had Upgraded to version 50 using "sudo dpkg -i" facing following problems
![screenshot from 2018-05-18 09-57-40](https://user-images.githubusercontent.com/26450729/40216137-620c45ee-5a82-11e8-91fe-5d6b3ad2b869.png)

[2018-05-18 04:36] eliseofe commented on #76
Yes same thing! Guys may you have this magnet thing somewhere so that's why
for you it works?

On Fri, 18 May 2018, 08:31 Arun A R, <notifications@github.com> wrote:

[2018-05-18 04:45] ilpincy commented on #76
@ARArun can you post text rather than a screenshot? I need to be able to copy paste from your output.

[2018-05-18 04:46] ilpincy commented on #76
@eliseofe What I have is the same as you guys. @allsey87 might have more files, but they work for me. I'm looking into it.

[2018-05-18 05:10] ilpincy commented on #76
I checked the files and there seems to be nothing off. Please try these commands and show me the output in text form (no screenshots, I need to be able to copy-paste):

1. `ls -l /usr/lib/argos3`
2. `ldd /usr/lib/argos3/libargos3plugin_simulator_dynamics3d.so`

What version of Ubuntu are you using? 32 or 64 bits?

[2018-05-18 05:25] ARArun commented on #76
The result of running the said two commands.

amar@amar-HP-Compaq-8200-Elite-SFF-PC:~/Downloads$ argos3 -v
3.0.0-beta50
amar@amar-HP-Compaq-8200-Elite-SFF-PC:~/Downloads$ argos3 -q all
[FATAL] Can't load library "/usr/lib/argos3/libargos3plugin_simulator_dynamics3d.so" even after trying to add extensions for shared library (so) and module library (so):
/usr/lib/argos3/libargos3plugin_simulator_dyn

[2018-05-18 05:31] ilpincy commented on #76
Thanks @ARArun, I think I have a solution. I'll make a new beta50 in a few minutes.

[2018-05-18 05:32] ARArun commented on #76
That would be great and thanks, professor.

[2018-05-18 05:49] ilpincy commented on #76
OK I made a new beta50 release. Please download it [here](http://iridia.ulb.ac.be/~cpinciroli/extra/h-414/argos3_simulator-3.0.0-x86_64-beta50.deb) and let me know if it works.

[2018-05-18 05:57] ARArun commented on #76
Thank you, professor. The new link works well.

[2018-05-18 06:00] ilpincy commented on #76
A-HA!

[2018-05-18 06:00] #76 closed

[2018-05-18 06:07] eliseofe commented on #76
What was the problem?

On Fri, 18 May 2018, 10:00 Carlo Pinciroli, <notifications@github.com>
wrote:

[2018-05-18 06:10] ilpincy commented on #76
https://github.com/ilpincy/argos3/commit/d8c1b5dd035410a416534bafb532a41c1d1a8d65

[2018-05-18 06:31] ilpincy commented on #76
Different versions of `ld` have different linking behaviors, and the order in which libraries are linked may vary. In my tests, the order was such that this issue did not appear. On some systems, the issue causes a crash. The solution was to fix a CMake script that was added recently to make the library dependencies explicit.

[2018-05-18 07:09] eliseofe commented on #76
I see! Thanks for the explanation and for the fix :-)

On Fri, May 18, 2018 at 10:31 AM, Carlo Pinciroli <notifications@github.com>
wrote:

[2018-05-18 09:05] allsey87 opened #77 "Foot-bot turret's rotation reset on MoveTo"
From running the example [footbot_camera_prototype_example.argos](https://github.com/ilpincy/argos3/blob/3.0.0-beta50/src/testing/examples/footbot_camera_prototype_example.argos) on my machine, it seems that the rotation stored inside the turret entity, actuator, or anchor is being reset every time I move the foot-bot using the QtOpenGL GUI. @ilpincy can you confirm whether this is the case?

[2018-05-21 11:42] Mbt925 commented on #58
Can you run a simple test with the e-puck robot?

[2018-05-22 19:42] Mbt925 commented on #58
Is there an epuck model in ARGoS?
I am using this plugin:
https://github.com/lgarattoni/argos3-epuck

Where is the code you modified? 😊

[2018-05-22 19:46] ilpincy commented on #58
Yes, there is a model of the e-puck in ARGoS. Just type `argos3 -q entities`, or (better) get acquainted with the ARGoS file structure by [checking the code](https://github.com/ilpincy/argos3/tree/master/src/plugins/robots/e-puck).

The code you're using is an extension made for the e-puck with the Overo board. You don't need that extension for the type of experiment you're running. The segfault y

[2018-05-22 19:50] Mbt925 commented on #58
The code am using is just a sample to illustrate the bug.
My project needs a full epuck model. Can I get that using the ARGoS epuck? I need proximity sensors, ground sensor, omni camera, led actuators and...

[2018-05-22 19:52] ilpincy commented on #58
All of that stuff is part of the Overo board, so - as I wrote above - you need to contact Lorenzo Garattoni.

[2018-05-22 20:33] ilpincy commented on #58
I tested it on Mac and I get [the same error you do](https://github.com/demiurge-project/argos3-epuck/issues/11).

[2018-05-22 20:48] Mbt925 commented on #58
I am sorry for this, as it is not directly related to ARGoS. It would be GREAT if you could find a fix.

[2018-05-22 22:10] ilpincy commented on #58
There is a problem with conflicting names, because they have added a `CBatteryEntity` that clashes with the one provided by ARGoS. Even fixing this and other naming issues, there's a problem I can't identify in `CEpuckRabEquippedEntity`. When I comment out [the line that adds it to a robot](https://github.com/demiurge-project/argos3-epuck/blob/master/src/plugins/robots/e-puck/simulator/epuck_entit

[2018-05-23 06:32] Mbt925 commented on #58
Thank you for your time. I am looking forward to it. My project is frozen because of this bug.

[2018-05-23 07:26] ilpincy commented on #58
I fixed the issue. I made a pull request in the main repo, but until they accept the pull request you can get the fixed code here: https://github.com/ilpincy/argos3-epuck.

[2018-05-23 13:29] ilpincy commented on #58
They merged the pull request.

[2018-05-23 14:21] Mbt925 commented on #58
Thank you very much.

[2018-05-24 14:17] allsey87 opened #78 "How / where to free up data for plug-ins using CFactory"
The following specializations of CFactory are created via macros but are never destroyed. This leads to memory errors being reported by Valgrind. We need to call these functions somewhere:

1. `CFactory<CDynamics3DPlugin>::Destroy()`
2. `CFactory<CCameraSensorSimulatedAlgorithm>::Destroy()`
3. `CFactory<CBatteryDischargeModel>::Destroy()`

[2018-05-26 00:08] ilpincy commented on #78
It's not really a problem - those are not real leaks. The memory gets cleaned up anyway when the process is closed, either when ARGoS is used as a standalone program, or when ARGoS is used as a library attached to other software.

[2018-05-29 12:52] allsey87 commented on #78
Not a problem then :)

[2018-05-29 12:52] #78 closed

[2018-06-06 16:30] LPitonakova opened #79 "Distributing lights doesn't work"
I am trying to use the distribute tag in order to randomly placed some lights:

[code]

However, this gives an error

`Error inserting a light entity with id "wallLight0". An entity with that id already exists.`

[2018-06-06 16:35] allsey87 commented on #79
Do you also have a light declared in the arena outside of the distribute node? Could you post your whole .argos file ?

[2018-06-06 16:36] ilpincy commented on #79
I can reproduce the error, working on it now.

[2018-06-06 16:37] LPitonakova commented on #79
I do not. I checked that id "wallLight" doesn't appear anywhere else. Sorry I don't have the argos file anymore, I changed it since defining lights in the above way didn't work. But I did try to replace <light> with <box> in the above code and using <box> worked. So my guess is that light is the problem.

[2018-06-06 16:45] ilpincy commented on #79
I found the problem. The solution is a little tricky, but I'll do my best.

[2018-06-06 17:18] ilpincy commented on #79
Fixed in 12c12a5dea240dad94f5e47ebbb1d05fa0e4c8dc. I'm making a new release, because this fix and a previous one by @allsey87 are pretty urgent.

[2018-06-06 17:18] #79 closed

[2018-06-08 09:24] LPitonakova opened #80 "Cannot add light entities from the loop functions, unless a light is already in the XML"
ARGoS crashes when a footbot with colored_blob_omnidirectional_camera is in the scene but no light or LED has been added. I believe the correct behaviour should be the blob camera simply returning an empty readings array.

Relevant argos file parts:

[code]

[2018-06-08 09:36] allsey87 commented on #80
There are lots of different types of crashes. Do you mean a segfault perhaps?

Can you generate a GDB backtrace for us?

[2018-06-08 09:58] LPitonakova commented on #80
`[FATAL] Entity map for type "light" not found.`

[2018-06-08 11:15] allsey87 commented on #80
@ilpincy the exception is thrown from: https://github.com/ilpincy/argos3/blob/master/src/core/simulator/space/space.cpp#L114

At a guess "light" is not being added to [`m_mapEntitiesPerTypePerId`](https://github.com/ilpincy/argos3/blob/master/src/core/simulator/space/space.h#L277). Perhaps there is something wrong with the `REGISTER_STANDARD_SPACE_OPERATIONS_ON_ENTITY` macro? It seems ok to me.

[2018-06-08 11:22] LPitonakova commented on #80
My guess is that you simply need to catch the entity doesn't exist exception when the blob sensor asks for all light entities and finds nothing.

[2018-06-08 11:45] allsey87 commented on #80
You are right: I didn't notice that you had "light_1" commented out in your XML. It happens during an [update of the footbot_light sensor](https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/foot-bot/simulator/footbot_light_rotzonly_sensor.cpp#L121).

[2018-06-08 12:23] #80 closed, assigned to ilpincy

[2018-06-08 13:14] LPitonakova commented on #80
I'm not sure.. there is an assumption that a light or an LED won't be added programatically later. Also, adding / removing light from an argos file would be much easier if you could just comment out the light and didn't have to touch the robot xml declaration.

But of course, that's your call Carlo.

[2018-06-08 13:19] ilpincy commented on #80
I have never encountered a case in which people wanted to add lights in the loop functions, so far. You make a good point - if that's how you intend to add lights, then the current behavior is wrong.

BTW, the title of this issue is wrong - cameras and LEDs have nothing to do with it.

[2018-06-08 13:38] allsey87 commented on #80
While I agree with this, the error message is so uninformative I would almost consider it a bug.

[2018-06-08 15:41] ilpincy commented on #80
I found out that there was an inconsistency between the generic light sensor and the foot-bot light sensor. The generic light sensor did not bomb out if no light is in the environment, while the foot-bot one did. In ee1ad8df72efbc6adebb5a4262ddf51b249ea36d, I made it so the foot-bot one behaves the same as the generic one. This solves the issue.

[2018-06-08 15:45] LPitonakova commented on #80
@ilpincy I have argos installed via homebrew, is there a way of testing this without having to compile from source and link argos globally? What I was after basically is for argos to not stop the simulation when no light is found and a blob camera is attached to the robot. From the code change, it seems like that's what will happen now.

[2018-06-08 15:48] ilpincy commented on #80
The problem was that you had a foot-bot light sensor in your XML file, and no light added to the arena. The change I made fixes this issue.

If you want to try the latest ARGoS using homebrew, just type

    $ brew install --HEAD argos3

[2018-06-08 16:10] LPitonakova commented on #80
yes, that's it. thanks!

[2018-06-08 16:12] ilpincy commented on #80
Does that mean it works for you?

[2018-06-08 16:22] LPitonakova commented on #80
sorry, yes :)

[2018-06-08 16:23] ilpincy commented on #80
OK great - I'll make a new release now.

[2018-09-01 14:30] manooshsamiei76 opened #85 "Error initialising controllers"
whenever I want to run any of argos3 experiments I encounter the error of initializing controllers.
I attached the picture of what I write and what I get in the terminal. can anyone help me with this problem, please?

![image](https://user-images.githubusercontent.com/36368861/44946861-4895ea80-ae19-11e8-9e25-2158736ff321.png)

[2018-09-01 17:04] ilpincy commented on #85
Have you checked that the files mentioned in the error message exist?

[2018-09-01 17:09] manooshsamiei76 commented on #85
yes, I checked. They do not exist and this is my problem!
I found the footbot_diffusion library and placed it manually in an artificial directory that I made. Now it runs but with lots of warnings and errors. Do you know why I do not have any folder named Build?

[2018-09-01 17:51] manooshsamiei76 commented on #85
oh, thank you very much! problem solved.

[2018-09-01 17:51] #85 closed

[2018-10-30 21:13] jharwell opened #86 "Segfault on entity transfer between physics engines"
I think I've figured out how to use ARGoS with multiple physics engines, and have the following in my `.argos` file:

[code]
Which I think is the correct config to split a 12x6 rectangle between two physics engines (The center of the arena is at (6,3)). However, when the first robot tries to cross physics engines I get a segfault, with the following backtrace in gdb:

[code]

Am I configuring ARGo

[2018-11-04 22:54] ilpincy commented on #86
I'm a little confused by why you get an XML parsing error at runtime. Can you share your code with me so I can reproduce the problem more easily?

[2018-11-05 03:09] jharwell commented on #86
My code is at https://github.com/swarm-robotics/fordyca.git (devel branch). If I insert the above XML in place of the single physics engine definition in the input file `exp/single-source.argos`, then as soon as the first robot crosses the middle of the arena I see the above error.

If providing a tarball/compiled .so/video/etc would be helpful for debugging, let me know and I would be happy to!

[2018-11-11 22:04] ilpincy commented on #86
I managed to reproduce the problem. Working on it.

[2018-11-13 02:26] #86 closed

[2018-12-07 05:31] Hi-Ryan opened #87 "How to make the code run repeatedly in the simulation platform?"
I want to run the same code file many times to get experimental data. How can I get the simulation platform to finish the experiment and start the next cycle immediately? And you don't need to update the 'random_seed' variable of the. argos file manually anymore.

Can you give me some good advice? I spent too much time in my lab setting 'random_seed' manually.

[2018-12-07 09:01] allsey87 commented on #87
Setting random_seed to zero should give you a random seed every time you run your experiment. If you are at the stage of collecting data, the general workflow would be to turn off the visualization and to call ARGoS in a bash loop. Your data can be collected using a loop function.

Please note that the Github is for development issues only. Please post questions like this to the forum in the futur

[2018-12-07 09:01] #87 closed

[2018-12-12 11:35] allsey87 opened #88 "Set OpenGL_GL_PREFERENCE to either "GLVND" or "LEGACY""
This is the current output from running the CMake script on Arch Linux.

[code]

[2018-12-23 17:14] jharwell opened #89 "Headless Qt/OpenGL rendering"
So I've been looking at OpenGL and Qt, and now have some idea of how they build on top of each other, in order to understand how to enable rendering without a graphical window, so that frames can be captured on headless machines.

 It appears as though it may be possible to run Qt in a headless mode, though the documentation is a bit spotty on this--any thoughts? I tried simply replacing the `QApp

[2018-12-27 17:56] ilpincy commented on #89
I'm sure Qt supports headless applications. As for truly headless OpenGL, I don't know - I've never tried it, but this seems a good place to start: https://stackoverflow.com/questions/12157646/how-to-render-offscreen-on-opengl.

[2018-12-28 17:04] jharwell commented on #89
After playing around with ARGoS defaults for rendering, I have managed to get headless rendering to work (kind of). Not by using Qt/OpenGL headless rendering, but by using xvfb (a virtual framebuffer X server) that is available in standard software repos. It's not truly headless rendering, because the host machine that ARGoS is running on still needs to have an xvfb+X installed, but it seems like

[2018-12-29 22:48] ilpincy commented on #89
Thanks @jharwell for the solution you proposed! I like it because it does not require major intervention in the ARGoS codebase. It would be awesome if this were some somehow portable to MacOSX, since many ARGoS users are on this platform.

I agree with this proposal, we just need to find a suitable XML format to make this work well.

We could avoid this, if we parse the window size properties pass

[2018-12-29 22:50] ilpincy commented on #89
@allsey87: I think the reason why @jharwell is going for `xvfb` is that, in headless machines, ARGoS would need to have access to an xorg server anyway, but in many clusters this is not an option. Using `xvfb` would do the trick.

[2018-12-31 02:14] allsey87 commented on #89
Fair enough. However, I would point out that a solution based on xorg server is not ideal since most major Linux distributions have now switched to Wayland. Perhaps there is an equivalent of xvfb for Wayland, however, I think the features that an equivalent of xvfb would be based on are still in the pipeline for Wayland, since remote desktop clients, screen recorders etc for Wayland are quite rare

[2019-02-07 18:14] jharwell opened #91 "Enhancement: Better diagnostics for physics engine transfer failures"
As I have been debugging why entity transfers between engines keeps failing, I added unique exception messages for each of the conditions that can cause a transfer failure, to help me and potentially others.

 I don't seem to be able to push my branch and open a pull request though--how can I do that? Do I need to fork the repo?

[2019-02-08 03:26] ilpincy commented on #91
Thank you! Yes, you need to fork the repo, commit/push to your repo, and then submit a push request.

[2019-03-21 18:01] #91 closed

[2019-03-22 10:40] allsey87 commented on #88
Resolved by setting cmake policy CMP0072 to OLD in 0f2603931e5cfcaaaf840cc5e6d2d640e26dcf3f.

[2019-03-22 10:40] #88 closed

[2019-03-27 20:58] jharwell commented on #89
LTS ubuntu version 18.04 still uses Xorg, so I think that 'xvfb` is a good way to go. I'm going to start trying to implement something in the next week or two on this.

[2019-04-15 12:36] allsey87 opened #93 "Margin for detecting gimbal lock in CQuaternion::ToEulerAngles is too large"
The [thresholds for detecting gimbal lock](https://github.com/ilpincy/argos3/blob/3.0.0-beta53/src/core/utility/math/quaternion.h#L189) are quite large and causing glitching it the QtOpenGL visualization. Changing these thresholds from 0.499 to 0.4999 almost eliminates this issue. Is there any reason not to change these values from 0.499 to either 0.4999 or 0.49999?

![a9boi](https://user-images.g

[2019-04-15 15:22] ilpincy commented on #93
No, feel free to set it to the value that is most appropriate for your simulations to be stable.

[2019-04-15 15:53] allsey87 commented on #93
Ok. I'll push a fix tomorrow changing the value to: 0.49999

[2019-04-15 16:01] ilpincy commented on #93
Fine for me!

[2019-04-16 07:54] #93 closed

[2019-04-16 10:58] allsey87 opened #94 "Management of resources in ARGoS3"
Starting this thread to discuss how we should manage assets (e.g., non-source code resources that need to be distributed with the simulator). In particular, I would like to discuss where to store the OBJ models for robots.

Initially, I was going to place OBJs under plugins/simulator/visualizations/qt-opengl/models and handle them in the same way as we do with the icons and the textures. However t

[2019-04-24 13:25] allsey87 commented on #94
@ilpincy The Lua scripts in the testing directory are another example of assets for which we have no standard way of installing and hence accessing via the XML.

[2019-06-04 13:34] allsey87 opened #96 "Improve representation of vectors and quaternions in Lua"
Assuming there are no objections, I would like to modify the Lua wrapper such that we specify a metatable for the vector and quaternion tables in Lua. This will enable multiplication between quaternions and vectors etc inside Lua code which currently need to be done manually in Lua. The metatable that I will link to a C++ function that:

1. Pulls the (w,) x, y, z values from the stack
2. Creates t

[2019-06-04 19:50] ilpincy commented on #96
Makes a lot of sense. Feel free to proceed!

[2019-06-07 15:16] allsey87 commented on #96
I had a very quick look at this today. I will probably add something like `CLuaMath::RegisterMetatables(m_ptLuaState)` to `CLuaController::CreateLuaState()`, where `CLuaMath` is a class of static methods similar to `CLuaUtility`.

[2019-06-11 18:17] jharwell opened #98 "ARGoS contributor coding style"
Is there a document somewhere that describes how we should be naming things, architecting things, etc. when we want to make contributions to ARGoS? I could not find one in the repo.

[2019-06-12 07:24] allsey87 commented on #98
There is! [argos_coding_guidelines.pdf](https://github.com/ilpincy/argos3/files/3280065/argos_coding_guidelines.pdf)

[2019-06-13 12:59] #98 closed

[2019-06-13 13:48] allsey87 commented on #96
@ilpincy fcf9ad1d13da6327996e46afc2f69c1bbd8b7ef2 is my first implementation of the proposed features. They pass my basic tests and will be tested more thoroughly in the coming weeks.

[2019-06-20 14:56] #96 closed

[2019-07-03 17:11] ritaalamino opened #99 "Qt_5.9 not found debian"
I am trying to run a simple test after compiling:
`argos3 -c src/examples/experiments/kilobot_nonblocked_movement.argos`

and I get this. Could not find an answer in the issues.

`
[INFO] Loaded library "/usr/lib/argos3/libargos3core_simulator.so"
[INFO] Loaded library "/usr/lib/argos3/libargos3plugin_simulator_dynamics2d.so"
[INFO] Loaded library "/usr/lib/argos3/libargos3plugin_simulator_dynamic

[2019-07-03 17:19] ilpincy commented on #99
You're not giving much to work with to spot the problem (i.e., which system, Linux or Mac?), but my guess is that you're on Linux and have Anaconda installed. Anaconda comes with its own version of Qt and it messes with Qt-based programs.

If this is the case, type this command:

    $ which qmake

and make sure that the output corresponds to the system path (`/usr/bin/qmake` or `/usr/local/bin/qm

[2019-07-03 17:42] ritaalamino commented on #99
I have installed from the git package.

Distributor ID: Debian
Description:    Debian GNU/Linux 9.9 (stretch)
Release:        9.9
Codename:       stretch

echo `$LD_LIBRARY_PATH` returns nothing
and echo `$PATH` returns `/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games`

I'll try to recompile with the steps you have passed.

[2019-07-03 17:53] ilpincy commented on #99
The root of this problem is that, for some reason, you have compiled ARGoS with Qt 5.9, but then at run-time the OS links a version of Qt different from 5.9. This is not an issue with ARGoS, but with the configuration of your machine. Therefore, make sure that, in compiling ARGoS, you check which version of Qt has been found (make sure it's 5.9!).

[2019-07-03 17:54] ilpincy commented on #99
Also, what's the output of `which qmake` and `qmake -version`?

[2019-07-03 18:10] ritaalamino commented on #99
[code]

[code]

[2019-07-03 18:31] ilpincy commented on #99
So that confirms that you're compiling ARGoS with a version of Qt that's different from 5.9. I don't know why you get that error, but it's something weird with the configuration of your system.

[2019-07-03 18:32] ritaalamino commented on #99
Yes, thanks! I'll fix that.

[2019-07-10 16:34] ritaalamino commented on #99
Hi, I had to reopen, just to ask something.
I installed argos3 on another computer and worked nicely. But, the problem with my computer insists.
I have installed the right Qt version.
[code]
I have tried to compile the experiments, but I have this error:
[code]
Is it possible to change some configuration that changes the qmake adress?

[2019-07-10 16:47] ilpincy commented on #99
The `whereis qmake` command shows two versions of Qt installed: one is Anaconda. That's the root of your problem. This is not an issue with ARGoS, it's just Anaconda interfering with your system. Just make sure that `PATH` and `LD_LIBRARY_PATH` do not contain Anaconda folders, and then recompile everything from scratch.

[2019-07-10 16:47] #99 closed

[2019-07-13 20:25] jharwell opened #100 "Compile options with "argos --version""
As I am currently experimenting with building ARGoS with different compile options ("--fprofile-generate, --fprofile-use, etc"), I would find it useful to have ARGoS print the options it was build with in addition to the version, when invoked with `-v`. Something like this (similar to gcc):

[code]

As is, I have a hard time remembering what exactly the version I'm currently running was built with

[2019-07-13 20:29] ilpincy commented on #100
I think it would be a valuable addition, thanks!

[2019-07-14 16:43] jharwell commented on #100
As I'm starting to look at minor modifications to the ARGoS CMake framework to get the needed options into a .h file, I noticed that ARGoS does not use `-flto` for release builds. Does this break the dynamic library loading, or cause other problems to result in its omission?

[2019-07-14 17:15] ilpincy commented on #100
That option is to switch certain optimizations on, not to make things work, so no - I have never had problems. I have never fiddled with it so far, but I might in future releases. The issue is that, if I make a modification, it must be portable to a wide set of systems. I admit I don't know all the consequences of using that option on all compilers and all the ways in which people might want to li

[2019-07-15 11:22] allsey87 commented on #100
Just my two cents. It would be nice if the output of `argos -v` or ``argos --version`` would be easy to parse by CMake. This would be useful in 3rd party plugins that need to check whether to use double or single precision for Real or which version of C++ (11, 14, 17) has been used to build ARGoS.

[2019-07-15 14:45] jharwell commented on #100
What is an example of a format easily parsable by CMake? I was thinking of just doing as gcc does, with one key:value pair per line, with a `:` or `=` separator.

[2019-07-15 15:04] jharwell commented on #100
Another question: Right now, `ARGOS_WITH_LUA` is unconditionally defined (and Lua support compiled in) if the required libraries/cmake package is found. I think adding the `ARGOS_WITH_LUA` option to the cmake configuration so that users (like me!) can disable Lua support even if it is found would be valuable. On my system, the only reason I need the Lua libraries installed is so that the autocompl

[2019-07-17 01:30] jharwell opened #101 "ARGoS with clang-format"
I've been playing around with clang-format, to try and see if I can get it to something that is close to how ARGoS is currently formatted, as a way of automating the formatting of whatever contributions I make. I think I have something close in the attached file!

It has caught some inconsistencies in formatting:

- Sometimes there is a space after `template` or `if`, but sometimes not
- Some head

[2019-07-27 19:03] jharwell opened #107 "ARGoS slow to exit after experiment finished"
So I've noticed with large swarms (> 10,000 robots) that after the experiment finishes and all threads exit, my CPU usage drops to near 0 and stays there for quite a while during which time ARGoS is tearing down the simulation, releasing memory, etc. Profiling and looking at the resulting hotspots, the culprit is `CSpace::Destroy()` which calls `CSpace::RemoveEntity()` on each entity. That functio

[2019-07-28 01:28] jharwell opened #108 "Access to ARGoS threads in loop functions?"
Currently it does not seem possible to access the ARGoS threads from the loops functions, and if I want to iterate through all robots and collect some metrics from them (what task they are current executing, are they in collision avoidance, etc.) in order to better understand why I'm observing the performance that I am, I have to create my own threads to do this. Right now I'm using OpenMP, and in

[2019-08-02 20:10] jharwell opened #109 "Adding documentation about multiple physics engines"
Hello, I'm currently trying to put some docs for using multiple physics engines into the query output for the 2D/3D engines, so ARGoS can be a bit more self-documenting. Looking at the multiple physics engine example in the ARGoS examples vs. the code in `physics_engine.cpp`, I have the following questions:

- Is it possible to have physics engines which are not assigned a closed polygon in the 2D

[2019-08-02 20:30] jharwell opened #110 ""Optimization hints" section of query plugins"
Hello,

I think adding a section to relevant query results for some plugins regarding optimization would be benificial for users of ARGoS (like me!) that are looking to get maximum performance out of ARGoS. Some of the things I've found myself needing to use a certain way in order to get maximum performance are:

- Physics engines
- Footbot light sensor
- Omnidirectional camera sensor

Documenting

[2019-08-08 12:24] allsey87 opened #111 "Bug with MoveTo from Qt-OpenGL"
In both the 2D and 3D physics engines, it seems that an entity can be moved inside of another entity under certain circumstances, that is the collision test is not being performed or its result is somehow being ignored. On my system, this issue appears most often while fast-forwarding the simulation. I have also been able to reproduce the issue at normal speed but not by just stepping the simulati

[2019-08-12 11:25] allsey87 commented on #111
@ilpincy if you confirm this bug, I can look into it a bit deeper and propose a solution. If you are not interested in fixing it, let me know and we can set it as `wontfix` accordingly.

[2019-08-18 12:34] jharwell commented on #110
@ilpincy,@allsey87 gentlest of bumps on this. Do you think this idea has merit? Thanks!

[2019-08-18 12:36] jharwell commented on #109
@ilpincy,@allsey87 gentlest of bumps on this. Do you have any answers to my questions above? I'm enough enough of an argos expert to be able to figure them out from just looking at the code. Thanks!

[2019-08-18 12:36] jharwell commented on #101
@ilpincy,@allsey87 gentlest of bumps on this. Do you think this idea has merit? Thanks!

[2019-08-18 12:36] jharwell commented on #107
@ilpincy,@allsey87 gentlest of bumps on this. Do you think this idea has merit? Thanks!

[2019-08-18 12:37] jharwell commented on #108
@ilpincy,@allsey87 gentlest of bumps on this. Do you think this idea has merit? Thanks!

[2019-08-18 12:38] jharwell commented on #100
@ilpincy,@allsey87 gentlest of bumps on this. Any thoughts on the changes I've made regarding this issue and /or the output format of the version query? Thanks!

[2019-08-18 12:45] allsey87 commented on #107
What you are talking about here is really at the core of ARGoS and changes have the potential to break things badly. If you think that significant improvements can be made, you can try implement them alongside some automated tests (which ARGoS badly needs in my opinion). After that and assuming you can prove that everything still works well, you could open a pull request that can be looked at @ilp

[2019-08-18 12:56] allsey87 commented on #108
Just to be clear, you are using OpenMP inside a robot controller and want to collect data on the state of that controller from the loop function?

If so, what is your motivation for using threads? I ask since I have only every used threads in a robot controller on real hardware. Never in the simulator...

[2019-08-18 23:09] jharwell commented on #107
@allsey87 im not sure I follow on how it could break things? I'm only talking about removing the checks *after* the simulation has finished and all that remains is tear down / deleting memory, and my thought is that as long as things don't crash and all memory is still freed making this optimization would be OK. During the simulation I'm pretty sure the checks are necessary, and the code should re

[2019-08-18 23:22] jharwell commented on #108
@allsey87 what I'm asking about is thr feasibility of using ARGoS threads in the loop functions to iterate over each robot in the swarm via `GetEntitiesByType() `. In the controllers I'm using they each implement a number of interfaces which I use to collect information about what the swarm as a whole is doing by collecting said information from each robot and averaging it. Right now I'm using Ope

[2019-08-19 11:11] allsey87 commented on #108
I am not very familiar with how @ilpincy has implemented the threads in ARGoS and can't really comment further on this matter. However, I would think it would be simpler to use a thread pool to avoid spining up/down the threads, no?

[2019-08-19 11:15] allsey87 commented on #108
I think for these sorts of things you will need to investigate and come to your own conclusions about (and to implement your own solution if needed). @ilpincy and I have almost no time for considering new features at the moment. It is even difficult to find time to track down and resolve non-critical bugs!

[2019-08-29 15:25] allsey87 commented on #96
@ilpincy 94dec636bfb94773bd1afdd6fc5f7e1cb85f7ad4 is the final version. Instead of using tables, we now use the userdata type/mechanism to create and manage instances of CVector3, CVector2, and CQuaternion, which are stored in memory that is managed by Lua.

[2019-09-20 13:52] allsey87 opened #112 "Stop CTCPSocket::ReceiveBuffer from blocking"
The current implementation of this function blocks if there is no data available. This is unsuitable for "radio" sensors that do not know whether or not data is available for consumption.

Assuming CTCPSocket is meant to be used in robot sensors, I propose we add polling to the function as follows:

[code]

[2019-10-04 13:31] allsey87 commented on #112
I have resolved the issue raised here in commit 48e9f10fc021d116ae13bbc6cf0fe08f4746f0d4 by creating a CTCPSocket::GetEvents method that returns a set of events for the connection by polling the file descriptor. No changes have been made to CTCPSocket::ReceiveBuffer.

[2019-10-04 13:31] #112 closed

[2019-10-12 17:53] jharwell commented on #110
Closing because I have opened a pull request with my requested changes

[2019-10-12 17:53] #110 closed

[2019-10-12 22:08] #100 closed

[2019-10-12 22:08] #89 closed

[2019-10-12 22:09] #109 closed

[2019-11-06 14:00] DarioAl opened #114 "Differential Steering biases still apply with 0 velocity"
Hello,
I experienced what I believe to be a bug while testing the Kilobots plugin but it appears to be related to argos3 itself.
The differential steering biases are always applied even with 0 velocities causing the robots to move when at rest.

What I have done to reproduce the bug (tested on with diffusion_1):

 set any bias to the differential steering, in my case I tried with
[code]

then, in

[2019-11-09 19:49] ilpincy commented on #114
Having a look at this right now, will report soon. In theory the code [does the correct thing](https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/generic/simulator/differential_steering_default_actuator.cpp#L114), but maybe that check is too brittle. If so, it's an easy fix.

[2019-11-09 19:58] ilpincy commented on #114
I can't seem to reproduce the problem with the settings you gave me.

[2019-11-10 11:18] DarioAl commented on #114
I am using Argos3 as it comes with the .deb argos3_simulator-3.0.0-i686-beta54.deb on Ubuntu18.04.
I am not the only one having the issue but I do not have details about the configuration, I will update you as soon as possible.

--

[2019-11-10 16:43] ilpincy commented on #114
Oh, that explains it - the fix for this problem has not been released yet. I'll make a new release today.

[2019-11-10 17:04] DarioAl commented on #114
Perfect, thank you.

[2019-11-10 17:04] #114 closed

[2019-11-18 14:51] allsey87 opened #115 "Update the minimum requirement for CMake to 3.8.2"
The introduction of the `$<IF:...>` generator statements in commit 1bf398cde0ccfd6b7cc17afbb0fd1bc2feb2ba11 breaks cmake configuration/generation for CMake versions < 3.8.2.

The minimum required version for CMake defined in [CMakeLists.txt:4](https://github.com/ilpincy/argos3/blob/3.0.0-beta55/src/CMakeLists.txt#L4) should be updated to reflect this.

[2019-11-18 14:52] #94 closed

[2019-11-18 17:11] ilpincy commented on #115
I think I'll remove the generators. They're not the right approach for this problem. This will also make ARGoS easier to compile in older systems.

[2019-11-27 16:03] #115 closed

[2019-12-10 15:27] jharwell opened #120 "Inconsistent XML interface for adding noise to sensors/actuators"
I'm currently looking at investigating swarm robustness in the present of noise, and would like to add footbot sensor/actuator noise. The sensor/actuators I'm interested in all have the ability to add noise, but the interface is very inconsistent:

- In the battery, you specify the uniform range to draw noise from directly in the XML.
- In the differential steering actuator, there are several vari

[2020-01-13 15:16] jtrautmann opened #123 "Build error: make_unique"
On one of my machines I get the following error message for the file `src/plugins/robots/e-puck/simulator/dynamics3d_epuck_model.cpp` when trying to build argos:
[code]

It seems to me that this is a problem with the C++ version, as `make_unique` is not part of the C++11 standard. I changed the C++ standard in the `ARGoSBuildFlags.cmake` file. This got built, but led to other problems on runtime.

[2020-01-13 15:39] #123 closed

[2020-01-15 11:17] jtrautmann opened #126 "Qt-OpenGL changing color affects other objects"
I added my own class which inherits from `CQTOpenGLUserFunctions` and has a registered user function `void Draw(CFootBotEntity& c_entity)`. This function calls `DrawRay`, using the color green. In principle this works, but there is one problem: this leads to the ground also being drawn in green. My guess is that the function `DrawRay` changes the color internally and that it doesn't get changed ba

[2020-01-15 13:03] allsey87 commented on #126
I guess you (via DrawRay) are changing the global color with the `glColor` function, in which case you should take the current OpenGL color and restore it once you are done. I think this can be done with `glGet` with argument `GL_CURRENT_COLOR` or `glGet` with argument `GL_RGBA_MODE`.

[2020-01-15 14:21] jtrautmann commented on #126
Thank you for your answer. I tried this and it works:

[code]

But as you said, this is a bit of a hack. Of course I could duplicate the from `DrawRay`, but duplicate code is never a good solution. And when would it ever make sense to use the function `DrawRay` then? Maybe there is a logic behind this, but I don't really see it. In my eyes, it makes far more sense to reset the color at the end of

[2020-01-15 14:25] ilpincy commented on #126
This should not happen. I'll check it later today.

[2020-01-21 10:47] jtrautmann opened #128 "Segmentation fault when calling CSimulator::LoadExperiment"
When I call the function CSimulator::LoadExperiment, I get the following error message:

[code]

The backtrace:

[code]

My code looks like this:

[code]

[2020-01-21 10:56] allsey87 commented on #128
Can you detail your use case? Are you trying to use ARGoS as a library?

[2020-01-21 11:18] jtrautmann commented on #128
@allsey87 I want to use ARGoS for learning collision avoidance with reinforcement learning and combine it with ROS. I now realized the problem seems to be that I don't run my code from above in the main thread. When running it in the main thread, everything works fine. So I'll have to think about how to run the code in the main thread to make it work.

[2020-01-21 11:18] #128 closed

[2020-01-22 13:45] jtrautmann opened #130 "Different blocking behaviors of CSimulator::Execute"
If you use the `CSimulator::Execute` function, it has different blocking behaviors depending on the visualization method:

Using the `CDefaultVisualization`, the `Execute` function exits when `CSimulator::Terminate` gets called.
Using the `CQTOpenGLRender`, the `Execute` function keeps blocking when `CSimulator::Terminate` get called.

This leads to the following problem for me:
I want to change t

[2020-01-22 14:17] allsey87 commented on #130
While I tend to agree that this behavior is inconsistent and that such behavior should be well defined for visualizations, there just isn't enough time available to fix these sorts of issues... Not to mention that such changes may break other peoples code and scripts.

If you want to use ARGoS in this way, I would suggest forking the repository and perhaps modifying `CQTOpenGLMainWindow::CreateCon

[2020-01-22 16:07] ilpincy commented on #130
I'm not sure I understand what you mean by 'blocking' in this request. Can you please elaborate?

[2020-01-24 09:04] jtrautmann commented on #130
@allsey87 Ok I can understand that there isn't enough time available. Unfortunately, I have the same problem. But I found a solution for my specific problem, where I only call `Execute` once if I'm using `CQTOpenGLRender`.

@ilpincy Using `CDefaultVisualization`, if I call `Terminate`, the call of `Execute` ends and I get to the line from above that says

[code]

Using `CQTOpenGLRender`, this does

[2020-01-24 12:44] ilpincy commented on #130
I'm not sure I would call this an inconsistency. If I understand correctly, you would like to be able to call `CSimulator::Terminate()` from a different thread with respect to the one you launch ARGoS from, and you also want to `CSimulator::Terminate()` to close the window and allow `CSimulator::Reset()` to be called. I did not design ARGoS to work this way, so what you're trying to do is not tech

[2020-01-30 10:07] jtrautmann commented on #130
@ilpincy  Yes, you understand it correctly. Thank you, that responds my question. In my opinion, in this case it really would be better to change the behavior of the default visualization or at least add an information in the documentation about this behavior.

[2020-02-04 08:33] jtrautmann commented on #126
I noticed this also happens when selecting a robot: the ground also gets white like the selection box.

[2020-03-04 15:04] jtrautmann opened #132 "Qt-OpenGL draw arrow with wrong colors"
If I call `CQTOpenGLUserFunctions::DrawRay`, the displayed ray is not in the color I choose. For example, if I choose `CColor::BLUE` as parameter, the ray is displayed in red, and if I choose `CColor::RED`, it gets displayed in yellow.

I built argos using the commit from January 13.
OS: Ubuntu 18.04

[2020-06-12 18:18] jharwell opened #136 "Modernize ARGoS build flags"
Hi @ilpincy,

I'm wondering if you would be open to updating the GCC/clang warning flags used to build ARGoS, adding additional flags depending on the GCC/clang version that is available? Or also updating the minimum required version of clang/GCC so more warnings are available?

I did a quick test with GCC9 with the following additional flags which I generally use in my own C++ code:

  -W
  -Wall

[2020-06-12 20:10] allsey87 commented on #136
To throw in my two cents, I think modernizing a code base from time to time is a good idea, however, only if a really extensive set of automated tests exist. Without these tests, I feel like such a modernization effort would be in a net negative due to the unavoidable and hard to find bugs it could create

[2020-06-12 20:42] jharwell commented on #136
Would a good rule of thumb then be that in order to fix any warnings generated by a specific class, that a comprehensive suite of unit tests for all public member functions exist? For some core classes (e.g. CVector2, CVector3), that would not be very hard, as they are easy to test in a non-integrated context.

[2020-07-03 16:40] ilpincy commented on #132
Do you have a code snippet I can try?

[2020-07-03 16:44] ilpincy commented on #136
Modernizing the ARGoS code is becoming increasingly important. I was skeptical of using modern C++ because of the patchy support it had on embedded compilers, but now it's really overdue.

There are many things that should be changed. Threading support really needs `std::thread`; the double dispatch trick I made would probably work better if written with `std::function`; and many optimizations tha

[2020-07-03 17:10] jharwell commented on #136
I was thinking more in terms of purely fixing compiler warnings enabled by additional flags, but I agree that switching to STL constructs (where possible) in the code would also be beneficial. `std::function, std::thread, std::shared_ptr, std::unique_ptr` all come to mind.

It would be good to start with just fixing compiler warnings, as those can be fixed more easily, and much less prone to progr

[2020-07-03 17:21] jtrautmann commented on #132
Okay I have a minimal example here:

[code]

[2020-07-03 18:01] ilpincy commented on #132
OK, will have a look today and report my findings.

[2020-07-03 18:26] alanmillard opened #138 "Support for 3rd party robot plug-ins with OBJ models"
I have one 'clean' version of ARGoS installed system-wide under `/usr/local/`, as well as multiple 'experimental' versions installed in local directories by specifying `CMAKE_INSTALL_PREFIX`. This is so that I can `make install` experimental 3rd party plug-ins into a locally installed version of ARGoS without interfering with anything else. To select which installation of ARGoS I'd like to be acti

[2020-07-04 19:43] ilpincy commented on #138
I think an event better solution could be to remove the saved folder altogether. It's a common cause of annoyance when people switch from packaged to manually installed ARGoS or viceversa. If the storage folder is anyway under the installation path, I see no reason to save it because it can be detected. I think this would solve your problem, right?

[2020-07-04 20:01] ilpincy commented on #136
Yeah, starting from the plugins is a good idea. The e-puck is a good starting point because not many people use it. And yes, a dedicated branch would be good.

[2020-07-05 20:27] jharwell commented on #136
Looking at the epuck entity, I see that all of the `*EquippedEntity` components are adding to the robot via `new` and `AddComponent()`, but I don't see where they are `delete`d. I've grepped through the ARGoS codebase for `delete` and can't find where this is happening--can you point me in the right direction ?

[2020-07-05 20:32] ilpincy commented on #136
It's done in these two places:

https://github.com/ilpincy/argos3/blob/master/src/core/simulator/entity/composable_entity.h#L206

https://github.com/ilpincy/argos3/blob/master/src/core/simulator/space/space.h#L317

[2020-07-05 20:41] ilpincy commented on #136
On a different topic, but related, I am working on changing the logic that creates components. The change would make it so components are created only when necessary, saving tons of memory when lots of robots are used.

[2020-07-05 21:05] jharwell commented on #136
Ah I see--thanks! So one change I think would be good to make (starting with the e-puck) is to have the root robot entity own all of its components via `std::unique_ptr`, so that when it is destroyed all of its components will automatically be cleaned up as well. This would require 2 changes, as far as I can tell:

- `AddComponent()` overload which takes a raw pointer rather than a reference. indi

[2020-07-05 21:06] ilpincy commented on #136
What would be the advantage of this approach as opposed to the current code?

[2020-07-05 21:22] jharwell commented on #136
Using smart pointers generally makes code much less prone to memory related bugs, because reference counting, freeing the memory once you are done with it, etc, all happen automatically. `std::unique_ptr` especially was designed to be as fast as raw pointers (as long as you don't use a non-trivial deleter with it); `std::shared_ptr` does have some memory overhead due to locking and reference count

[2020-07-05 21:22] jharwell commented on #136
An alternative change would be to make the entity indexes maintained by the space owning via `std::unique_ptr`, and have all the entities have non-owning references to them, but I think that is less intuitive.

[2020-07-05 22:22] ilpincy commented on #136
My question was more why we should mix `std::unique_ptr` and classical pointers, adding an extra flag to distinguish the two cases. I have a bit of experience with C++, I know how smart pointers work :-)

[2020-07-05 22:43] jharwell commented on #136
Ohhhhh I see--my bad.

I guess this line of reasoning is more about the scope of modernizing ARGoS that you want to do, in terms of how intrusive to be. Changing floating point comparisons, member variable initialization, etc. are all changes that are localized to a class (and stem from fixing compiler warnings), but for some of the higher level changes (like memory management and refactoring move

[2020-07-05 23:50] ilpincy commented on #136
As for compiler warnings, I would first pick those in `-Wall` for both `clang` and `gcc`. I work on the most recent Mac OSX, so at least for `clang`, compilation warnings are under control. For the latest `gcc` I haven't done much, but it's simple to handle. As for `-Wextra`, my policy has been to be lazy. Those warnings do not necessarily translate into bugs, but it's good to fix as many as possi

[2020-07-06 00:18] jharwell commented on #136
That list sounds like a good plan! I'll start with the compiler warnings and #2 in the robot plugins--I should have some time to start on that this week :-). My `std::thread` knowledge is a bit rusty, but I should be able to do that without too much issue as well.

[2020-07-06 00:49] ilpincy commented on #136
If you fix warnings and for loops, I can look into `std::thread` myself.

[2020-07-06 16:16] alanmillard commented on #138
Yes, good point :) these folders for built-in ARGoS assets are stored under the installation path anyway, so not sure why they need to be recorded separately - looks like this feature was added for icons/textures 8 years ago (https://github.com/ilpincy/argos3/commit/b9c310af15cbbf113dac8522164160dc459e07de), and then copied recently for models (https://github.com/ilpincy/argos3/commit/886037b8745f

[2020-07-06 17:07] ilpincy commented on #138
We could add a new environment variable called `ARGOS_ASSET_PATH` with the same logic as `ARGOS_PLUGIN_PATH`.

[2020-07-06 17:14] jharwell commented on #136
I started looking at fixing floating point comparisons, and ran into the following issue: Bullet and Chipmunk both use the same compile flags as ARGoS, so turning on `-Wfloat-equal` gives you tons of warnings in those libraries. This can be fixed when compiling ARGoS files which include those headers by specifying cmake SYSTEM for the Bullet/Chipmunk include directories, and changing include paths

[2020-07-06 17:17] ilpincy commented on #136
I would ignore `-Wfloat-equal` altogether.

[2020-07-06 18:54] ilpincy commented on #138
I have deleted the code that saves/restores the folders, check 167cda10b56c63b728bc9036403e9f6f649cc191.

[2020-07-06 19:06] jharwell commented on #136
Excellent. Similar question: For many of the OpenGL calls (e.g glVertex3f()), warnings are thrown with `-Wfloat-conversion` when ARGOS_USE_DOUBLE is true. Is there value in changing them all to glVertex3d(), because ARGOS is usually built with `Real=double` when building for the simulator and compiling OpenGL ? There are other implicit floating point -> int implicit conversions which probably shou

[2020-07-06 19:09] ilpincy commented on #136
Yeah, replacing `glVertex3f()` with `glVertex3d()` makes sense. I have a draft for a new visualization that uses the modern OpenGL 3 interface, but never had the time to finish it...

About double to int conversions, where are the warnings?

[2020-07-06 19:19] jharwell commented on #136
They are in colored_blob_perspective_camera.cpp, rng.cpp, rate.cpp, simulator.cpp, range.h, floor_entity.cpp, led_medium.cpp, and radio_medium.cpp

[2020-07-06 19:21] ilpincy commented on #136
OK, so pretty much everywhere. Can they all be solved with `static_cast<UInt32>(...)`? I guess we need to go case-by-case.

[2020-07-06 19:39] jharwell commented on #136
Most of them can, but there are a few I'm not sure of. I will go ahead and `static_cast<UInt32>(...)` for all, and mention the ones I'm really not sure of in the pull request.

[2020-07-07 00:21] ilpincy commented on #132
I did test the code but I couldn't reproduce the issue. On what platform are you working? My test was on OSX 10.15.4.

[2020-07-07 09:33] alanmillard commented on #138
Great thanks, that should fix it! The corresponding part of the README will need to be updated too, but perhaps not until the next tagged release.

An `ARGOS_ASSET_PATH` environment variable sounds like a good solution for 3rd party plug-ins. Would this be implemented in the same place, or in `GetModelDir()`?

[2020-07-07 11:30] jtrautmann commented on #132
OK, interesting... I'm working on Ubuntu 18.04.

[2020-07-07 12:06] jtrautmann commented on #126
I don't know exactly when this was fixed, but it seems the problem doesn't occur anymore.

[2020-07-07 12:06] #126 closed

[2020-07-15 13:21] allsey87 opened #140 "Add a debug actuator to ARGoS"
So, I have been using a [debug actuator in argos3-srocs](https://github.com/allsey87/argos3-srocs/blob/master/src/plugins/robots/generic/control_interface/ci_debug_actuator.h) for some time now which is very useful for separating debugging information from multiple robots and selectively printing that information to the console (stderr/stdout) or routing it to a file.

The debug actuator supports

[2020-07-15 15:36] jharwell commented on #140
My two cents: I think this would be a good thing to add to ARGoS, as it would help with initial development of control algorithms, allowing you to check if the actuator outputs make sense for whatever you are doing.

[2020-07-17 08:27] allsey87 commented on #140
I would state though that using an actuator to achieve this sort of debugging is a hack. Proper APIs for per robot logging/debug drawing should be a core feature of ARGoS. Shoehorned these features into the actuator, loop functions, qt-opengl user functions APIs is bad software design.

[2020-07-17 09:21] alanmillard commented on #140
Some kind of visual controller debugging feature would certainly be appreciated, whether it's implemented as an actuator hack or as core ARGoS functionality. I've used `CQTOpenGLUserFunctions` before to draw vectors specified by Lua controllers, which is particularly useful for students trying to learn ARGoS and debug their controller code, but the implementation always feels a bit awkward.

[2020-07-17 10:21] allsey87 commented on #140
I definitely agree, recently we have also been using `CQTOpenGLUserFunctions` in our simulations to draw arrows representing the topological relationships between robots.

[2020-11-02 10:12] alierum opened #145 "Battery discharge model: wrong xml tag"
In the robot's text definition, i.e. eyebot_entity.cpp the battery uses the attribute "model"

[code]

However, in battery_equipped_entity.cpp the attibute name is "discharge_model"

`GetNodeAttributeOrDefault(t_tree, "discharge_model", strDischargeModel, strDischargeModel);`

Which is the correct attribute ("model" doesn't work), so the help texts in all the *_entitiy.cpp files should be updated.

[2020-11-09 18:28] vivek-shankar opened #146 "Creating movable shapes from Box and Cylinder entity"
Hai,

I am working on an approach to collaboratively transport objects of random shapes from one point to another.
In order to create different shapes, I combined the basic shapes (box and cylinder) to form complex shapes, while I create these shapes, I have some regions that overlap. In this way, I am able to create shapes only if the object is set to be non-moveable. When I set the attribute mov

[2020-11-09 19:52] ilpincy commented on #146
You need to modify the physics engine to allow for joints. The way I would go with it is either:
1. Define a prism entity, which you configure in the XML
2. If you need hollow objects as in the picture, when you can use the prototype entity and the 3D physics engine (ask @allsey87 for more details, he did all the work)

[2020-11-09 20:45] vivek-shankar commented on #146
Thank you, @ilpincy !
I don't need hollow objects for the moment.
I think, I will just go ahead and start defining a new entity that builds shapes from the parameters specified in the XML file.

[2020-11-09 21:51] allsey87 commented on #146
The prototype entity with fixed joints should do the trick. Check
out dynamics3d_convex_hull_test.argos and dynamics3d_multi_body_test.argos
in src/testing/examples.

On Mon, 9 Nov 2020, 21:45 Vivek Shankar Varadharajan, <
notifications@github.com> wrote:

[2020-11-13 17:03] edobrb opened #147 "Robot overlap after deployment"
Hello,

during the distribution of the robots in the arena it happens that two footbots overlap after the deployment (I'm using version 3.0.0-beta56). The footbots look like this:
![image](https://user-images.githubusercontent.com/50401517/99073905-12d31b80-25b7-11eb-9222-f93d32948dad.png)

Moreover, all the proximity sensor return 0 in this particular state.

The deploy is described as follow:
[c

[2020-11-17 21:35] alanmillard commented on #147
Thanks for pointing this out @edobrb!

On a related note - `CSpace::Init` does not call `IsCollidingWithSomething` for manually placed entities, so users may explicitly place robots such that they intersect - was this intended @ilpincy? Presumably this check is skipped to allow arena wall geometry to intersect without errors?

[2020-11-17 21:40] ilpincy commented on #147
Correct - it's the intended behavior when you manually add stuff. The bugfix you contributed is correct though!

[2020-11-17 21:40] #147 closed

[2020-12-08 08:08] GameMonkey opened #149 "camera settings in .argos-file is ignore in latest in master"
If I use the latest release of argos3, there are no issues in defining camera placements under the `qt-opengl` XML tag.

However, if I use the latest commit on the master branch, my camera settings are ignored.

Thanks,
 - Martin Kristjansen

[2020-12-08 08:52] allsey87 commented on #149
Hi Martin,

Can you include the XML of camera settings that you tried to set? The problem probably is that configuration of the cameras in master has changed and includes automated placement when no valid configuration is given. You can find update documentation about how to configure the cameras by running `argos3 -q qt-opengl`

[2020-12-08 09:32] GameMonkey commented on #149
Of course. As far I can see, it matches the format given in the documentation

[code]

[2020-12-08 09:40] allsey87 commented on #149
This is not the correct format for the Qt-OpenGL plugin on the master branch. If you have compiled the code from master and installed it, the output of `argos3 -q qt-opengl` gives an example of how to configure the cameras:

[code]

[2020-12-08 10:08] GameMonkey commented on #149
Ahh, I checked the format on the wrong branch, my bad!

I'll change the format in my XML.

[2020-12-08 10:25] allsey87 commented on #149
No problem

[2020-12-08 10:25] #149 closed

[2021-01-20 17:15] callmecampos opened #150 "Error when installing with Homebrew MacOS 10.15.7"
I get the following error when installing ARGoS with Homebrew on MacOS Catalina 10.15.7, following [https://www.argos-sim.info/core.php](https://www.argos-sim.info/core.php). Any idea why I'm getting namespace errors with cmath?

[code]

[2021-01-21 04:29] ilpincy commented on #150
It seems to be an error in XCode: https://stackoverflow.com/questions/61236772/clang-doesnt-compile-cmath-in-macos-catalina

If you try and compile a basic program with `cmath`, does it work?

[2021-01-27 08:21] ilpincy commented on #150
I have found this thread: https://forums.swift.org/t/is-anyone-else-getting-this-error-when-building-the-compiler-from-master-on-macos/36113/4. It seems to be a common problem, that affects many formulas beyond ARGoS.

[2021-02-02 18:17] AshwinRaviraj opened #151 "Error when running an example."
When I run this on my MacOS `argos3-examples % argos3 -c experiments/synchronization.argos`

I get the following error
` [INFO] Loaded library "/usr/local/Cellar/argos3/3.0.0-beta56/lib/argos3/libargos3plugin_simulator_qtopengl.dylib"
[INFO] Loaded library "/usr/local/Cellar/argos3/3.0.0-beta56/lib/argos3/libargos3plugin_simulator_dynamics3d.dylib"
[INFO] Loaded library "/usr/local/Cellar/argos3/3

[2021-02-02 18:30] ilpincy commented on #151
How did you install ARGoS? I see `beta56`, but it should be `beta57`. The examples were updated when I made the new release.

[2021-02-02 18:30] #151 closed

[2021-02-02 18:36] AshwinRaviraj commented on #151
I cloned this repo `git clone https://github.com/ilpincy/argos3-examples.git argos3-examples`

[2021-02-02 18:37] ilpincy commented on #151
I know, but the issue is that you're running the old ARGoS beta56, while you should be running the new beta57 instead. The examples work with beta57 now.

[2021-02-02 18:38] AshwinRaviraj commented on #151
So, I should just update Argos from homebrew?

[2021-02-02 18:39] AshwinRaviraj commented on #151
Even after that I still gives me the error? Could you explain to me how I can update it from 56 to 57

[2021-02-02 18:39] ilpincy commented on #151
Yes. There might be a compilation issue, on which I am working now, due to a bad formula for `pkg-config` which breaks compilation for ARGoS and lots of other packages. Compiling from the sources works perfectly well.

[2021-02-02 18:41] AshwinRaviraj commented on #151
Alright I will try to clone the following repo https://github.com/ilpincy/argos3.git and follow the READme

[2021-02-02 18:42] ilpincy commented on #151
These are the commands to run:
[code]

[2021-02-02 18:46] AshwinRaviraj commented on #151
Thanks! I will give it a shot!

[2021-02-02 18:57] AshwinRaviraj commented on #151
Works!!

[2021-02-02 18:59] ilpincy commented on #151
Yay! 🥇

[2021-02-12 20:59] jharwell opened #152 "foo"

[2021-02-12 20:59] #152 closed

[2021-02-16 09:54] GameMonkey opened #154 "CrossProduct for CVector2 uses incorrect calculation"
The function `inline Real CrossProduct(const CVector2& c_vector2) const` in `vector2.h` has a `+`-sign instead of a minus sign:
https://github.com/ilpincy/argos3/blob/bfde870ea7943cf41f00c38e5d3f7978707e9c86/src/core/utility/math/vector2.h#L223

The cross product of two 2D-vectors A and B is:
`A.x * B.y - A.y * B.x`

[2021-02-16 16:54] #154 closed

[2021-02-16 16:58] ilpincy opened #156 "Garbled Spiri model"
The Spiri model uses `CQTOpenGLObjModel`. Before beta57, it worked perfectly. Since beta57, it looks garbled (see screenshot):

<img width="932" alt="Screen Shot 2021-02-16 at 11 57 21" src="https://user-images.githubusercontent.com/2726243/108095684-237bad80-704e-11eb-9524-fe2ce8b50647.png">

I have spent some time trying to fix this issue, but I can't seem to find the problem. `GLError()` return

[2021-02-17 11:04] allsey87 commented on #156
I'll look into it by the end of the week and get back to you with either an updated model or a bug fix :)

[2021-02-17 16:43] ilpincy commented on #156
Thank you! Very appreciated! :-)

[2021-02-18 15:08] allsey87 commented on #156
@mk-heinrich would you have time to look into this with me tomorrow? I guess we just need to reexport the Spiri model with the same settings as used by the other robots

[2021-02-19 10:34] allsey87 commented on #156
Commit b98187cf04a1d431daf68fabdccb270e0193f79b is to blame. It changes part of the code to use GLdouble leaving the just unchanged. I remember looking at this PR and thinking that it looks like a very quick find-and-replace-all job with little testing... I hope it hasn't introduced errors into other parts of the code...

[2021-02-19 11:06] #156 closed

[2021-02-20 01:41] alacalcasis opened #157 "how to configure Argos camera?"
Hello, this might be quite an easy issue, but I couldn't find how to edit xml configuration for Argos camera. For some reason when I look at camera configuration xml file I see this:

`<camera>
  <placements>
    <placement index="0" position="707.124,0,7.5" look_at="0,0,0" up="0,0,1" lens_focal_length="65" />
  </placements>
</camera>`

but it should be something like this:

`<camera>
   <placeme

[2021-02-20 01:43] alacalcasis commented on #157
Sorry, the previous message missed xml code for camera configuration:

This is what Argos shows as camera configuration

Hello, this might be quite an easy issue, but I couldn't find how to configure Argos camera. For some reason when I look at camera configuration xml file I see this:
"
<camera>
  <placements>
    <placement index="0" position="707.124,0,7.5" look_at="0,0,0" up="0,0,1" lens_focal

[2021-02-20 01:44] alacalcasis commented on #157
OK, clearly I don't know how to insert xml code, let me try again:
`Hello, this might be quite an easy issue, but I couldn't find how to configure Argos camera. For some reason when I look at camera configuration xml file I see this:

<camera>
  <placements>
    <placement index="0" position="707.124,0,7.5" look_at="0,0,0" up="0,0,1" lens_focal_length="65" />
  </placements>
</camera>

but it shou

[2021-02-20 19:02] #157 closed

[2021-02-20 19:04] ilpincy commented on #157
Please use the forum for these requests. The issue tracker is for bugs and enhacements. For examples to configure the camera, please refer to the [ARGoS examples](https://github.com/ilpincy/argos3-examples) and make sure you're using the latest version (beta57).

[2021-02-26 22:03] jharwell opened #159 "Setting up Travis CI"
@ilpincy I have a small build matrix working for ARGoS compilation on travis-ci, which should serve as a starting point for eventually adding unit and integration tests. Right now it just tests "does ARGoS compile" on multiple platforms. I have a few questions before I open the pull request:

- What specific ubuntu versions does ARGoS support ? The github page lists requirements by compiler, not u

[2021-02-26 23:47] ilpincy commented on #159
Thanks for setting this up! A few answers:

ARGoS should work on any recent Linux distribution. I don't give a special attention to Ubuntu, although I have packages for 18.04 onwards. I also test it on OpenSUSE and I have people who test it on other distributions. I would prefer if the tests were not distribution-specific, because the fact that ARGoS runs on Ubuntu is not sufficient.

Any gcc vers

[2021-02-27 00:37] jharwell commented on #159
Thanks! I will change my matrix to be compiler+version based rather than OS based. Upon further digging, I think I can work around the opensuse issue by using docker and building/testing ARGoS inside an opensuse container which is running in the host OS.

[2021-02-27 00:38] ilpincy commented on #159
That would be perfect! Can Travis also create packages automatically?

[2021-02-27 00:40] jharwell commented on #159
You can run whatever shell commands you need to inside the ci environment, so I think so. The only issue would be figuring out how to get the built package to be pushed to the ARGoS website. You would probably need to setup an authentication key for the server which hosts the ARGoS images/packages.

[2021-02-27 00:43] ilpincy commented on #159
I usually store the Ubuntu packages on Google Drive, and take advantage of the OpenSUSE build system for storage of RPM packages. MacOSX needs no packages (well, they'd be nice).

[2021-02-28 22:09] jharwell commented on #159
Working on getting opensuse testing setup. The binary package links on the ARGoS website are broken for opensuse :-(. When I follow the setup instructions on the github page, I get:

[code]

http://download.opensuse.org/repositories/graphics/openSUSE_13.2/ says "resource no longer available" if I try to go to the webpage.  I am able to compile ARGoS on OpenSUSE, but without any of the visualizatio

[2021-02-28 22:15] ilpincy commented on #159
Thanks, I'll check that. I have a script that makes a couple of fixes there, that might be the problem. The issue is that the earlier I can look into this is next week.

[2021-03-01 00:16] jharwell commented on #159
Thanks!

In the meantime, I have gotten CI set up for compilers in ~last 3 years:

- gcc 7-10 on ubuntu
- clang 6-12 on ubuntu
- clang 10-12 on OSX (the ARGoS install instructions say you need to have the latest version of XCode anyway, so not going back further than XCode 10 is OK imo)
- gcc 7-10 on openSUSE

[2021-03-01 00:18] ilpincy commented on #159
That's perfect! At the moment, there is a known issue on MacOSX on HomeBrew. I narrowed it down to the `pkg-config` formula. However, if you compile directly from the source it works perfectly. I haven't had the time to get the solution to the HomeBrew issue yet.

[2021-03-02 00:34] YasmineMoumou opened #160 "Actuator quadrotor_speed methods dont affect drones' movements"
The methods setRotationalSpeed() and setLinearVelocity() provided by the quadrotor_speed actuator (by GetActuator<CCI_QuadRotorSpeedActuator>) don't work. When we try giving a velocity or a rotation to our drones, they do not move. We are only able to control their movement when we replace it with a quadrotor_position actuator and we affect its position.

[2021-03-09 12:11] karthiks1701 commented on #146
Following up, by using the prototype entity for a convex hull as mentioned in the  dynamics3d_convex_hull_test.argos we defined an irregular object. In the first photo, the convex hull is defined. In the second photo, the physics engines are defined.
![Screenshot from 2021-03-09 17-28-35](https://user-images.githubusercontent.com/47322496/110467450-0a21ca80-80fd-11eb-8069-c587a8049d0b.png)
![image

[2021-03-09 12:46] allsey87 commented on #146
The problem probably is that the Khepera robot only comes with a dynamics2d model, while the prototype entity only provides a dynamics3d model. There are two solutions to this problem (i) create a dynamics3d model for the Khepera robot (since it is just a simple differential drive robot, you could pretty much copy and paste the code from the e-puck dynamics3d model) or (ii) implement a dynamics2d

[2021-03-09 20:07] ilpincy commented on #146
That's an extended version of the e-puck. ARGoS has a simpler version of the e-puck here: https://github.com/ilpincy/argos3/tree/master/src/plugins/robots/e-puck. The models @allsey87 is referring to are https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/e-puck/simulator/dynamics3d_epuck_model.h and https://github.com/ilpincy/argos3/blob/master/src/plugins/robots/e-puck/simulator/dyn

[2021-03-10 21:39] karthiks1701 commented on #146
I followed the first suggestion creating a 3d dynamics model for Khepera. It builds successfully, but when I try to run the  testing/testexperiment.argos file, it shows memory error.  Any idea what is going wrong?. ( I can attach/push the khepera files if necessary )
![Screenshot from 2021-03-11 03-06-37](https://user-images.githubusercontent.com/47322496/110701188-dd61d600-8216-11eb-8606-ccd0aeab

[2021-03-11 09:00] allsey87 commented on #146
Hey @karthiks1701, when you want to attach output from the terminal, could you copy and paste it into a code environment instead of attaching screenshots?

Now, we need you to do a couple things in order to help you:
1. Uninstall everything that you are not using, e.g., the ARGoS-SRoCS libraries
2. Set CMake to compile in debug mode and attach a backtrace from where the crash occurs
3. Use `git di

[2021-03-11 17:06] karthiks1701 commented on #146
1. Output for point two.

gdb --args argos3 -c testbuzzexperiment.argos
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show war

[2021-03-11 17:06] karthiks1701 commented on #146
3. Output for point 3.

git diff --cached
diff --git a/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp b/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp
new file mode 100644
index 0000000..f1ee3e9
--- /dev/null
+++ b/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp
@@ -0,0 +1,208 @@
+/**
+ * @file <argos3/plugins/robots/e-puck/simula

[2021-03-11 17:07] karthiks1701 commented on #146
`git diff --cached
diff --git a/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp b/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp
new file mode 100644
index 0000000..f1ee3e9
--- /dev/null
+++ b/src/plugins/robots/kheperaiv/simulator/dynamics3d_kheperaiv_model.cpp
@@ -0,0 +1,208 @@
+/**
+ * @file <argos3/plugins/robots/e-puck/simulator/dynamics3d_epuck_mo

[2021-03-11 17:34] karthiks1701 commented on #146
3. output for git diff --staged

[code]

[2021-03-11 17:35] karthiks1701 commented on #146
3. Output for git diff

[code]

[2021-03-11 19:37] allsey87 commented on #146
Looks like some sort of memory corrupt issue during the btMultiBody construction. These can occur for numerous reasons. The first thing I would always do is be 100% sure that you are working with a completely clean build and that no older versions of libraries are installed/being linked against. After this, I would like to check whether you are able to run ARGoS with the E-puck instead of the Khep

[2021-03-11 19:59] karthiks1701 commented on #146
will this example work?. Also will the controller of dynamics2d(epuck_obstacleavoidance_controller) E-puck work for dynamics3d E-puck as well?. if you have an example of E-puck dynamics3d kindly share it.

https://github.com/ilpincy/argos3-examples/tree/master/experiments/epuck_obstacleavoidance.argos

[2021-03-11 23:42] allsey87 commented on #146
If you change the remove the dynamics2d in your previous configuration file
the e-puck should just use that engine.

If multiple engines are available for a given non-static entity, I believe
ARGoS throws an error, right @ilpincy?

[2021-03-11 23:48] ilpincy commented on #146
@allsey87 Yep, see [here](https://github.com/ilpincy/argos3/blob/master/src/core/simulator/entity/embodied_entity.cpp#L253), called from [here](https://github.com/ilpincy/argos3/blob/master/src/core/simulator/space/space.cpp#L186).

[2021-03-11 23:49] ilpincy commented on #146
@karthiks1701 The physics engine does not affect the rest of the simulator. ARGoS is designed to treat the physics engine just as any other plugin. So, that example, you simply need to change `dynamics2d` into `dynamics3d` and that's it.

[2021-03-12 12:28] karthiks1701 commented on #146
[code]
I think I have removed all the unnecessary link(as shown in the output). I also rebuilt argos from scratch.
e-puck with dynamics2d engine works fine.
e-puck with dynamics 3d case, it does not crash, but it doesn't move(it is just freezed).
![image](https://user-images.githubusercontent.com/47322496/110939936-27080900-835c-11eb-9c55-28ae386fa16a.png)

[2021-03-12 12:35] allsey87 commented on #146
Chances are that the dynamics engine is running, it is just that the model has not been calibrated properly. That is, I think the robots will probably start moving if you set the speed higher.

[2021-03-12 12:49] allsey87 commented on #146
I guess the issue is that something isn't being linked together correctly. @karthiks1701 if you are willing to commit to calibrating and testing the dynamics3d model for the Khepera IV, (i.e., adjusting the radius/height of the bodies, setting the motor impulse correctly) so that it matches the speed etc of the dynamics2d model, I can open a pull request against [argos3-kheperaiv](https://github.c

[2021-03-12 13:02] karthiks1701 commented on #146
Yes, I think the best solution, for now, is to have a dynamics3d engine for kheperaIV. I can work on calibrating the values for kheperaIV. I will also check if e-puck works for higher speeds.

[2021-03-12 13:06] ilpincy commented on #146
@allsey87 I'm ok with this!
@karthiks1701 Thanks for all the work!

[2021-03-12 18:03] karthiks1701 commented on #146
@allsey87, you were right increasing the velocity worked for e-puck obstacle avoidance and it dodged the prototype entity as well!.

[2021-03-12 18:32] jharwell commented on #146
Late to the party, but something that might be worth doing before a final merge is to run the simple ARGoS experiment through valgrind to verify there aren't any read/write violations in the code to be committed, i.e. `valgrind argos3 -c test.argos`.

[2021-03-14 10:33] karthiks1701 commented on #146
I am sorry, should I do so before opening a PR in argos3-khepera?. @ilpincy @allsey87

[2021-03-14 11:05] allsey87 commented on #146
@jharwell I am pretty sure these issues are related to something being off with the linking, but for sure, using Valgrind would be a good solution for further debugging if I am wrong :)

@karthiks1701 I will open the PR on Monday, in the meanwhile, could you have a go at tuning the dynamics3d model for the e-puck to match the dynamics2d model? (for example, the speed, acceleration, ability to push

[2021-03-14 14:25] allsey87 commented on #146
I was able to reproduce @karthiks1701's issue and have opened a new issue on the KheperaIV repository: https://github.com/ilpincy/argos3-kheperaiv/issues/6

Once this issue is resolved, I can open a PR for the new dynamics model.

[2021-03-23 16:19] jharwell commented on #159
@ilpincy Have you had a chance to look at the openSUSE issue ? The pull request is ready to go sans that issue.

[2021-03-29 21:28] karthiks1701 commented on #146
In the meantime, I tried to create a buzz controller for e-puck, by basically copy-pasting the code from the footbot buzz controller. But there seems to be a error for the range and bearing sensor used by the epuck sensor. Any idea how to solve it @ilpincy and @allsey87. I also had a quick look at [(https://github.com/demiurge-project/argos3-epuck/tree/master/src/plugins/robots/e-puck/simulator)],

[2021-03-30 07:23] allsey87 commented on #146
@karthiks1701 the Github issue tracker is only really for code issues with ARGoS. If you need help using ARGoS you should post something to the ARGoS forum.

[2021-03-30 09:09] karthiks1701 commented on #146
Okay, I will take it to Buzz repository. Thanks!

[2021-03-30 09:19] allsey87 commented on #146
The problem has nothing to do with Buzz and you should ask for help at https://www.argos-sim.info/forum/ not on the Buzz issue tracker. Issue trackers are usually only for issues in the code base.

[2021-03-30 09:20] karthiks1701 commented on #146
Okay. understood!.

[2021-03-30 18:14] jharwell opened #161 "Merging extended epuck code to ARGoS"
Is there a reason that the extended epuck code here: https://github.com/demiurge-project/argos3-epuck has not been merged to ARGoS ? If not, can I open a pull request to merge it, or alternatively make it a git submodule in ARGoS ? I need a robot with a 3d physics model AND a ground sensor, and the extended epuck is the only robot in ARGoS that meets both those requirements.

[2021-03-30 18:16] ilpincy commented on #161
The reason is that the model was developed in a project, Demiurge, and the people working on it wanted to have full freedom on how to develop it. ARGoS should in fact come with *no* robots - the plugin system is meant to make it automatic to discover them. If anything, I'd want to remove the robots rather than add them :)

I think it's safe to install ARGoS along with that repo, but the issue rema

[2021-03-30 18:18] jharwell commented on #161
Ooooooo I see. That makes sense--I will try to use both side by side then.

[2021-03-30 18:18] #161 closed

[2021-03-30 18:20] ilpincy commented on #160
This is because those methods are currently not implemented (simply for lack of time and use). Implementing them is not too hard, it boils down to setting the speeds rather than the positions in the PointMass3D models. If you feel like checking it out, the code to change is here:

- [CPointMass3DQuadRotorModel interface](https://github.com/ilpincy/argos3/blob/master/src/plugins/simulator/physics_e

[2021-03-30 18:21] ilpincy commented on #159
I'm working on fixing a few things in ARGoS today - I'll look into this issue as well.

[2021-03-31 14:13] ilpincy opened #162 "ARGoS does not compile on MacOSX"
Due to the new version of Qt (6.0.0) becoming the default on HomeBrew, ARGoS does not compile on Mac anymore. I have dedicated a few hours to the problem, but a bit more is necessary. The changes are likely to make Qt >= 5.15 (including Qt 6) a requirement, with potential issues on Linux distributions that do not ship that version of Qt.

[2021-04-01 22:00] jharwell opened #163 "Default e-puck does not move in 3D"
I tried the e-puck that comes with ARGoS with the dynamics3D model, and the robot appears not to move even though I set the wheel speeds. I checked via some debug print statements that the left/right bullet "motors" are being set correctly from the wheel velocities in the UpdateFromEntityStatus() function. In fact, the robot IS moving but so slowly that even after 1000s of timesteps the entity anc

[2021-04-01 23:47] jharwell commented on #145
The code says `discharge_model`, so that's probably what it should be.

[2021-04-02 00:52] jharwell opened #164 "Cleaning up `argos3 -q` documentation"
Hi Carlo,

Following up on the battery issue, I've noticed that there is a lot of copy and paste for common documentation between multiple robots (such as how to configure the battery). I'd like to clean this up so that the documentation for each sensor/actuator that a given robot model has is in exactly one place (probably the `*EquippedEntity.cpp` file), and do something like I did for the `CNoi

[2021-04-02 02:46] ilpincy commented on #163
Without looking at the code, this looks like a calibration problem (assuming the code is correct, which I assume it is).

[2021-04-02 02:49] ilpincy commented on #164
This makes sense! I need to make a new release tonight for allow my students to use ARGoS (I spent 12+ hours fixing compilation issues across devices, and I'm still not done). If you do this cleaning up, it'll go in the following release.

The discrepancies are probably just due to name changes that didn't get propagated to the documentation, so they do need fixing.

I don't have a specific reason

[2021-04-02 07:22] allsey87 commented on #164
Nope, I never touched the `COmndirectionalCameraEquippedEntity`, that was someone else :)

[2021-04-02 07:25] allsey87 commented on #146
@karthiks1701 did you have ago at calibrating the dynamics3d model for the e-puck?

[2021-04-02 07:30] allsey87 commented on #163
Indeed, it needs to be calibrated so the dynamics3d model roughly matches the dynamics2d model. I was suggesting in #146 that @karthiks1701 have a go at fixing this in return for resolving ilpincy/argos3-kheperaiv#6 and adding a dynamics3d model for the Khepera IV.

[2021-04-02 07:38] karthiks1701 commented on #146
Yes, there is a slight mistake in one of the constants

[2021-04-02 07:50] karthiks1701 commented on #146
[code]

All the quaternions used in m_cLeftWheelOffset,m_cRightWheelOffset,m_cBodyToLeftWheelJointRotation,m_cBodyToRightWheelJointRotation should have the vector(1,0,0). I don't have an understanding, but I figured it should be the same for all the wheels so I tried various configurations. After this change, it moves with higher velocity or higher impulse or both. But increasing the impulse/veloc

[2021-04-02 11:19] ilpincy commented on #164
That seems to narrow it down... :-) @jharwell please go ahead with normalizing the cameras!

[2021-04-02 11:50] allsey87 commented on #146
Hey @karthiks1701, I don't think you need to change those offsets/joint rotations. These values are the same as those in the pipuck model from a different repository which works fine.
[code]
I don't want to get into details about all the coordinate systems here, but in a nutshell these transforms are moving the wheel from the center of the model to the sides. Rotating the left wheel 90 degrees aro

[2021-04-02 11:52] allsey87 opened #165 "Calibrate the e-puck dynamics3d model"
This issue is for tracking the progress in calibrating the e-puck dynamics3d model as discussed in #146.

[2021-04-02 11:53] allsey87 commented on #165
Hey @karthiks1701, I don't think you need to change those offsets/joint rotations. These values are the same as those in the pipuck model from a different repository which works fine.
[code]
I don't want to get into details about all the coordinate systems here, but in a nutshell these transforms are moving the wheel from the center of the model to the sides. Rotating the left wheel 90 degrees aro

[2021-04-02 11:56] allsey87 commented on #163
Let use issue #165 for resolving this.

[2021-04-02 11:56] #163 closed

[2021-04-02 12:43] karthiks1701 commented on #165
Yes maybe the units of the two functions are not matching, A simple check of having the same velocities for both the wheels didn't make it move in a straight line .....

[2021-04-02 12:55] allsey87 commented on #165
Hmmm, the units of `btMultiBodyJointMotor::setVelocityTarget` are angular not linear. Regarding the robot not moving in a straight line, have you undone any changes you made to the other constants?

[2021-04-02 13:02] karthiks1701 commented on #165
`btMultiBodyJointMotor::setVelocityTarget`, makes sense to have its units in radians/sec. For the other question, I was mostly playing with the impulses and friction, So I think I didn't touch other constants(other than the rotation change).

[2021-04-02 14:10] allsey87 commented on #165
So, what is your current equation for translating the speeds between `CWheelEntity::GetWheelVelocities` and `btMultiBodyJointMotor::setVelocityTarget`?

[2021-04-02 14:32] karthiks1701 commented on #165
should I do something like `CWheelEntity::GetWheelVelocities / (radius_wheel)' and then pass it to  `btMultiBodyJointMotor::setVelocityTarget`.

[2021-04-05 17:51] jharwell commented on #164
See pull request #167.

[2021-04-05 17:51] #164 closed

[2021-04-05 17:53] #136 closed

[2021-04-05 17:53] #108 closed

[2021-04-08 04:37] SGauvin commented on #160
This would be nice since there is a 3rd year undergrad project at Polytechnique Montréal where we use ARGoS to simulate drones!

[2021-04-08 04:49] ilpincy commented on #160
This has been fixed a few days ago, I'm making a new release today.

[2021-04-08 04:49] #160 closed

[2021-04-08 11:15] allsey87 opened #168 "ARGoS not compiling with Bitbake/Yocto"
Having some difficultly compiling ARGoS on embedded at the moment, the flag `-malign-double` is being introduced somewhere which isn't compatible with the cross compiler:
[code]
It could be that it is just not supported on the ARM architecture, since I compiled the latest ARGoS for an Intel-based machine yesterday using Yocto without any problems.

[2021-04-08 11:46] allsey87 commented on #168
This guilty commit is [`84db11a`](https://github.com/ilpincy/argos3/commit/84db11a3f48c680dc4e76089c05bf58e2e048ce1#diff-f91a84c887f8f46fac296abcd2b660d604eaab1f618fdde153bb1b3f0047aaf3R80). Citing the [GCC documentation](https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html):

So unless we care about performance on PCs more than 10 years old, there is no benefit to specifying this flag and a pretty

[2021-04-08 12:54] ilpincy commented on #168
Ok! Let's remove the flag then.

[2021-04-08 13:33] ilpincy commented on #168
Can you give me some details on how you use this? On my robot I use a `Target` file that does not need to go through `FindARGoS`.

[2021-04-09 07:12] allsey87 commented on #168
Do you mean cross compiling ARGoS via Yocto?

[2021-04-09 13:57] allsey87 commented on #168
I think there might be some confusion since the commit that I linked to mentions "FindARGoS", however, `-malign-double` is being set from ARGoSBuildFlags.cmake, not from FindARGoS.cmake...

[2021-04-09 14:15] ilpincy commented on #168
OK, I would suggest to remove that flag from the file altogether. I don't have the opportunity to test compilation with your environment - if you could remove the flag and test it, I'd be happy to make a new release this weekend to solve the issue.

[2021-04-09 14:42] allsey87 commented on #168
Sounds good, I'll rebuild on my end and let you know :)

[2021-04-09 15:37] allsey87 commented on #168
I removed `-malign-double` with following patch, but now have new issues with the compiler not being able to find basic header files like `iostream` and `stdexcept`. I will have to dig into this a bit further and find out what lines of the CMake a wreaking havoc on my build system.

[code]

[2021-04-09 15:42] ilpincy commented on #168
I think that's on me. I decided to force the compilation flags in the cache, which (I now recognize) is a bad idea. Try to remove lines 88 onwards of `ARGoSBuildFlags.cmake`.

[2021-04-09 15:50] allsey87 commented on #168
I have to head off for today, but I will give this a try on Monday and get back to you. Thanks for the heads up :)

[2021-04-12 09:06] allsey87 commented on #168
I removed those lines. Same error messages regarding not being able to find `iostream`, `stdexcept`, and other standard headers.

[2021-04-12 10:09] allsey87 commented on #168
The following patch against 84db11a3f48c680dc4e76089c05bf58e2e048ce1 fixes compilation. In addition to the `malign-double` issue, 84db11a3f48c680dc4e76089c05bf58e2e048ce1 reintroduces an issue that we solved in #62. I still need to do some more testing since some of the quality assurance tests built into Yocto are failing, which is a definite red flag to be investigated.
[code]

[2021-04-12 12:57] allsey87 commented on #168
I finally got everything to compile and link cleanly in my build system. The QA issues were due to the clobbering of linker flags and probably would not have executed properly on the robot's processor. My two final patches for resolving this issue are as follows, let me know how you would like to proceed:
[code]

[code]

[2021-04-12 13:41] karthiks1701 opened #169 "Convex hull: prototype entity not detected by proximity sensors in dynamics3D physics engine"
![Screenshot from 2021-04-12 19-04-21](https://user-images.githubusercontent.com/47322496/114403150-2adcb480-9bc2-11eb-8985-7b4d18325b34.png)
![Screenshot from 2021-04-12 18-58-38](https://user-images.githubusercontent.com/47322496/114403166-2ca67800-9bc2-11eb-8954-34d9259c5b3f.png)

As seen in the above picture, proximity sensors are not detecting objects created by the prototype entity for the c

[2021-04-12 13:59] allsey87 commented on #169
I will try recreate the issue on my end. Can you add a [MRE](https://stackoverflow.com/help/minimal-reproducible-example) ARGoS configuration file to the issue that reproduces the issue?

[2021-04-12 15:01] ilpincy commented on #168
Thank you for fixing this! I'll incorporate your changes tomorrow. Sorry for the mess.

[2021-04-12 15:22] allsey87 commented on #168
No problem, I will continue upgrading my repositories once this is incorporated and let you know if everything is working correctly.

[2021-04-12 18:20] jharwell commented on #159
@ilpincy I don't seem to be able to setup travis for this repo, because I am not the owner (even though I have write access). I think you will need to setup the travis CI github integration.

[2021-04-14 10:38] karthiks1701 commented on #169
[code]

Apologies for the late reply. I also tried for multiple e-pucks. It doesn't recognize other e-pucks. The given Argos code uses the epuck-obstacle avoidance controller present in  [argos3-examples](https://github.com/ilpincy/argos3-examples/blob/master/experiments/epuck_obstacleavoidance.argos) repository.

[2021-04-14 11:13] allsey87 commented on #169
Ok great, I will try to have a look at this tomorrow.

[2021-04-15 19:22] allsey87 commented on #169
Ok, I see the same thing on my end. I look into the reason why this is happening soon.

[2021-04-16 15:22] karthiks1701 commented on #169
Okay Thanks.

[2021-04-16 18:35] jharwell commented on #165
I tried making the equations between the pipuck and the epuck match exactly, and changed all the constants in the epuck entity definition to match those of the pipuck, and it still doesn't work :-(. The only substantial difference at this point between the two dynamics3d models and entity definitions (as far as two wheeled motion anyway) that I can see is that the pipuck entity using a `CPiPuckDif

[2021-04-17 13:22] allsey87 commented on #169
I will probably have a go at investigating this a bit further towards the end of next week. In the meanwhile, have you tried some more simple shapes? Also, I am not sure whether you should have duplicate points when specifying the convex hull.

Another question that comes to mind is whether or not objects are colliding correctly with the convex hull...

[2021-04-18 15:59] #168 closed

[2021-04-18 16:24] karthiks1701 commented on #169
I will check out this concerns.

[2021-04-18 16:26] karthiks1701 commented on #165
Even if things move, doesn't it kind of oscillate?.

[2021-04-19 17:50] jharwell commented on #165
Yes I can't get it to do anything other than turn in a circle in place.

[2021-04-21 13:25] allsey87 commented on #168
Can confirm that 5c70ab2dd11415b80f83f6b94bdd4509e91e2c67 fixes compilation and packaging in Yocto. I have tested it for both an ARM and Intel-based robot. I haven't launched ARGoS on the robots yet, but I suspect it will work fine.

[2021-04-21 14:04] ilpincy commented on #168
Awesome, thanks for checking! :-)

[2021-04-21 14:29] allsey87 commented on #169
It seems that for the convex hull link type, `CDynamics3DEngine::CheckIntersectionWithRay` is not even getting called. I think @ilpincy uses the bounding box to determine whether or not a ray query is passed to a particular engine. So at a guess, I would say that there is something off in the bounding box calculation for this particular link type. I will keep digging.

[2021-04-21 15:23] allsey87 commented on #169
Ok, I understand this bug now. By default, Bullet Physics uses the flag `kF_UseSubSimplexConvexCastRaytest` to select a specific algorithm when performing a ray test. I changed this flag to `kF_UseGjkConvexCastRaytest`, which, at the time of the decision, was more accurate (the alternative algorithm was missing some hits). I have upgraded Bullet a couple times since I wrote this code, so I will ne

[2021-04-22 08:22] #169 closed

[2021-04-22 14:19] ilpincy commented on #169
Thanks for spotting the problem, it's quite a subtle one! I will make another release this weekend, this fix is important. Do you consider this solution "stable", or you expect to have more work soon?

[2021-04-22 14:26] allsey87 commented on #169
I believe this solution is stable, but I will need to check this the next time I upgrade Bullet (which probably won't happen before December).

[2021-04-22 14:26] ilpincy commented on #169
That's stable enough :-) Thanks again!

[2021-04-23 17:02] jharwell opened #170 "ARGoS does not compile on Ubuntu 20.04"
When updating to the latest ARGoS on `master`, the `FindFreeImage.cmake` has been changed. It used to define `FREEIMAGE_LIBRARIES`, but now defines `FREEIMAGE_PLUS_LIBRARY` and `FREEIMAGE_BASE_LIBRARY`. However, `core/CMakeLists.txt` still assumes `FREEIMAGE_LIBRARIES` is defined, so I get a linker error. The docs at the top of `FindFreeImage.cmake` still says it defines `FREEIMAGE_LIBRARIES`, eve

[2021-04-23 17:03] jharwell commented on #170
Nm I have merge conflicts I missed resolving...

[2021-04-23 17:03] #170 closed

[2021-04-27 10:50] allsey87 commented on #165
@jharwell as discussed in allsey87/argos3-srocs#23, did you try setting one of the velocities to negative?

[2021-04-27 16:13] jharwell commented on #165
Yes setting one of the velocities to negative fixed it!

I think this "quirk" also absolutely needs to be documented, as it was not clear to either me or @karthiks1701 that there were differences between how to use the robot interfaces in 2D vs 3D, given current documentation (either in the ARGoS code, examples, or `argos -q` that I could find.

My understanding of how to move from 2D -> 3D dynami

[2021-04-27 16:33] karthiks1701 commented on #165
I think when I tried to change the constants, I tried to to change the motor directions to rotate in the same directions. It is better but still has problems with respect to sticking to the assigned directions. Isn't this same as setting one of the wheels as negative?. Also as @jharwell asked does it require the 3D physics engine to have opposite rotating directions?

[2021-04-27 17:11] allsey87 commented on #165
@jharwell the simulation models that I am working on have real robot counterparts for which I need a consistent control interface. Since it is usually the case that the motors on most differential drive robots point in opposite directions, having one speed being negative to move forward is the do-nothing-special solution.

I could change this, but I would like @ilpincy to weigh in on this and on t

[2021-04-27 18:20] ilpincy commented on #165
The interface already uses radians, so that should not be an issue. The choice of using cm instead of meters in the control interface was made early on in the design. The reason was that most robots have fairly good performance with `float`, but quite bad with `double`. To ensure numerical stability and to fit the scale at which robots operate, we decided to work with cm. Changing this would break

[2021-04-27 18:21] ilpincy commented on #165
The control interface of the robots should be fully compatible. Which physics engine a user picks should have no consequences on the controller. If now we require the speeds to be +X,-X in the 3D engine, that's a bug.

[2021-04-27 18:25] ilpincy commented on #165
When I made the ARGoS control interface of the foot-bot, I made it so both speeds being positive corresponded to the forward direction, because that's the intuitive way to think about it (both wheels share the same axle in the differential drive model!). The negative sign was passed in the call to the native robot API, but not visible from the ARGoS control interface.

[2021-04-28 07:13] allsey87 commented on #165
I understand not changing this for historical reasons, although the logic here was wrong. Floating-point numbers can represent and operate on 2340, 2.34, 0.00234 with equal precision/stability.

I am ok with changing this. I agree that it is more intuitive that two positive values make the robot go forward, but I feel that that initial intuition is wrong and causes more problems when you start wor

[2021-04-30 17:47] jharwell commented on #165
@ilpincy , for SI units in robot controllers, could we do something like `ARGOS_CONTROL_INTERFACE_USE_SI_UNITS` as a cmake define, have it be disabled by default, preserving the current behavior, but allowing those who work primarily in simulation and/or have robots which have sufficient floating point accuracy to work with `double` to apply a constant to convert cm/s to m/s ?

@allsey87 I underst

[2021-04-30 17:57] ilpincy commented on #165
Compiling ARGoS conditionally to support breaking changes would create the issue of sharing work between people. I don't think it's a good idea to change the units, but if we had to do it, it should be a flag in the .argos file. Still, this would make the controller code not shareable. Honestly, I am not willing to support this kind of breaking changes. I have never received complaints about this,

[2021-04-30 18:48] jharwell commented on #165
Ah that makes sense--I had thought thought about the sharing aspect.

[2021-05-01 14:28] allsey87 commented on #165
I agree with the point about not using a compilation flag to modify how the control interface works. While I have pretty strong opinions about how X should be done, I want to emphasise that I am actually quite flexible regarding the final decision. At the end of the day, ARGoS has accumulated quite a few users and I agree that we should optimise for making their lives as easy as possible.

I think

[2021-05-11 18:28] kashif-hub opened #171 ""bash create_dag.sh" issue with DAG creation..need help.?"
creation of the DAG data set making an issue while using this command "bash create_dag.sh"  and show these results which are shown in snapshot.
![image](https://user-images.githubusercontent.com/84039991/117866282-64333d80-b2b0-11eb-8b47-398da00749ef.png)

[2021-05-11 18:29] #171 closed

[2021-05-11 20:47] kashif-hub opened #172 "How to overcome "Lua53Config.cmake / lua53-config.cmake" directory issue..?"
How to overcome the issue related to the installation of the ARGoS module and cmake .. command results some error related to "Lua53Config.cmake / lua53-config.cmake" which is shoen in snapshot..?
![image](https://user-images.githubusercontent.com/84039991/117882598-f0029500-b2c3-11eb-83f6-9ef46eeb08e0.png)

[2021-05-11 20:49] ilpincy commented on #172
This is not an issue with the ARGoS core, but with the module code. They have a misconfigured `CMakeLists.txt`. Please submit an issue with their repository.

[2021-05-11 20:49] #172 closed

[2021-05-11 21:11] kashif-hub opened #173 "HOw to overcome the issue in module code of repository "CMakeList.txt"..?"
How to overcome the issue in the module code misconfiguration and getting results related to "Lua53Config.cmake" as shown in snapshot..?
![image](https://user-images.githubusercontent.com/84039991/117885410-44f3da80-b2c7-11eb-99f3-7375426d5331.png)

[2021-05-11 21:12] ilpincy commented on #173
You have already submitted an identical issue and I have already replied. Please refer to the repository that is offering that code. This is not an issue with the ARGoS core.

[2021-05-11 21:12] #173 closed

[2021-05-11 21:18] ilpincy commented on #172
I don't know - please refer to the people who made that code. Again, this is not the space to ask for coding advice. This is a space to report issues with the ARGoS core.

[2021-05-14 03:59] jharwell opened #174 "Thread affinity in ARGoS"
In my profiling, I've noticed you can get non-neglible performance improvements (10-25%) using ARGoS pthreads if you tell the OS that each thread is only allowed to run on 1 core, rather than allowing the OS to schedule them wherever it wants. Especially for larger swarms, this improves cache performance for larger controller objects (in terms of memory).

The relevant system call is `pthread_seta

[2021-05-14 04:12] ilpincy commented on #174
Yes, I think it would be a great addition. Why would you keep it off by default? What's the downside? I don't expect it to break anything.

[2021-05-14 16:51] jharwell commented on #174
My thoughts in keeping it off by default were:

1. The principle of least surprise: ARGoS has never pinned threads by default, so it might be unexpected behavior.
2. If you are running ARGoS on a system you have exclusive control over (say it has 16 cores), then pinning threads to cores can give a performance boost. If you are running ARGoS on a system you have to share with other users (e.g., a s

[2021-05-14 17:27] ilpincy commented on #174
Reason #2 is compelling. Agreed!

[2021-05-14 18:26] jharwell commented on #174
I was thinking of adding a `pin_threads` attribute to the `<system>` tag, unless you object. How can I document this new option ? The `<system>` tag does not appear in any of the `argos3 -q ....` results. Would the generated ARGoS manpage by a good place for it ?